<ion-list class="p-2 bg-transparent">
  <ion-item *ngFor="let driver of newDrivers"
            class="trip-item"
            lines="none"
            no-padding>
    <ion-label class="d-flex m-0">
      <app-profile-header class="d-inline-flex w-30"
                          size="small"
                          [user]="driver"></app-profile-header>
      <div class="trip-item__content font-weight-bold w-70">
        <a href="tel:{{driver.phone}}"
           class="mb-1"
           button>

          <ion-icon name="call"
                    class="mx-1"></ion-icon>
          <span>{{driver.phone}}</span>
        </a>
        <p>
          <ion-icon name="calendar"
                    class="mx-1"></ion-icon>
          <span>{{driver.joiningDate | date:'d-M-yyyy'}}</span>
        </p>
        <div class="d-flex justify-content-end">
          <ion-button color="success"
                      fill="outline"
                      shape="round"
                      class="mx-2"
                      [disabled]="isApproveLoading"
                      (click)="assignDriverToGarage(driver)">
            <ion-icon name="checkmark"></ion-icon>
            <ion-spinner *ngIf="isApproveLoading"
                         color="success"
                         class="mx-2"></ion-spinner>
          </ion-button>
          <ion-button color="danger"
                      fill="outline"
                      shape="round"
                      class="mx-2"
                      [disabled]="true">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-label>
  </ion-item>
</ion-list>
