<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'complains.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form *ngIf="!isComplainSent"
        [formGroup]="addComplainForm"
        (ngSubmit)="submitComplains()">

    <ion-item>
      <ion-label position="floating">{{ 'complains.subject' | translate }}</ion-label>
      <ion-input formControlName="subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'complains.tellUs' | translate }}...</ion-label>
      <ion-textarea formControlName="note"></ion-textarea>
    </ion-item>

    <ion-button type="submit"
                expand="full"
                color="primary"
                [disabled]="isLoading"
                class="mt-5">
      {{ 'complains.submit' | translate }}
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </form>
  <div *ngIf="isComplainSent">
    <h4 class="text-center text-muted">
      {{ 'complains.complainSent' | translate }}
    </h4>
  </div>
</ion-content>
