<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'promo.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <!-- first Section -->
  <form [formGroup]="promoCodeForm"
        (submit)="submitPromoCode()">
    <section class="mb-3">
      <ion-item>
        <ion-label position="floating">{{ "signup.country" | translate }} *</ion-label>
        <ion-select placeholder="Choose"
                    interface="action-sheet"
                    formControlName="country">
          <ion-select-option value="egypt">
            {{ "countries.egypt" | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- <ion-item>
        <ion-label position="floating">{{ "signup.government" | translate }} *</ion-label>
        <ion-select placeholder="Choose"
                    interface="action-sheet"
                    formControlName="state">
          <ion-select-option *ngFor="let state of states"
                             [value]="state">
            {{ "governorates."+state.toLowerCase() | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item> -->
    </section>
    <!-- End Of first Section -->
    <!-- second Section -->
    <section class="mb-3">
      <ion-item>
        <ion-label class="text-muted font-weight-bold"
                   position="floating">
          عدد الرحلات
        </ion-label>
        <ion-input class="text-muted font-weight-bold text-center"
                   placeholder="ادخل عدد الرحلات"
                   type="number"
                   formControlName="trips"></ion-input>
      </ion-item>
    </section>
    <!-- End of second Section -->
    <!-- third Section -->
    <section>
      <ion-item>
        <ion-label class="text-muted font-weight-bold"
                   position="floating">قيمة الخصم</ion-label>
        <ion-input class="text-muted font-weight-bold text-center"
                   placeholder="0.00"
                   formControlName="money"
                   type="number"></ion-input>
        <ion-input class="text-muted font-weight-bold text-center"
                   placeholder="0%"
                   formControlName="percentage"
                   type="number"></ion-input>
      </ion-item>
    </section>
    <!-- End Of third Section -->

    <!-- fourth Section -->
    <section class="my-3">
      <ion-label position="floating">رسالة العرض</ion-label>
      <ion-item lines="none"
                color="light"
                class="mb-4">
        <ion-textarea formControlName="message"
                      rows="3"
                      cols="1"
                      placeholder="رسالة العرض..."></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label class="text-muted font-weight-bold "> {{ 'promo.messages' | translate }}</ion-label>
        <ion-checkbox color="primary"
                      formControlName="sendMessage"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label class="text-muted font-weight-bold">{{ 'promo.notification' | translate }}</ion-label>
        <ion-checkbox color="primary"
                      formControlName="sendNotification"></ion-checkbox>
      </ion-item>
    </section>
    <!--End Of third Section -->


    <ion-grid>
      <ion-row justify-content-center
               align-items-center>
        <ion-button type="submit"
                    [disabled]="isLoading">تفعيل
          <ion-spinner *ngIf="isLoading"
                       class="mt-2"></ion-spinner>
        </ion-button>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
