// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #b50003;
  --ion-color-primary-rgb: 181, 0, 3;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #9f0003;
  --ion-color-primary-tint: #bc1a1c;

  /** secondary **/
  --ion-color-secondary: #780002;
  --ion-color-secondary-rgb: 120, 0, 2;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6a0002;
  --ion-color-secondary-tint: #861a1b;

  /** tertiary **/
  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 255, 255, 255;
  --ion-color-tertiary-contrast: #b50003;
  --ion-color-tertiary-contrast-rgb: 181, 0, 3;
  --ion-color-tertiary-shade: #d7d8da;
  --ion-color-tertiary-tint: #f5f6f9;

  /** success **/
  --ion-color-success: #28a745;
  --ion-color-success-rgb: 40, 167, 69;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #23933d;
  --ion-color-success-tint: #3eb058;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #d7d8da;
  --ion-color-white-tint: #f5f6f9;

  .ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
  }

  /** facebook **/
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59, 89, 152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #8b9dc3;
  --ion-color-facebook-tint: #dfe3ee;

  .ion-color-facebook {
    --ion-color-base: var(--ion-color-facebook);
    --ion-color-base-rgb: var(--ion-color-facebook-rgb);
    --ion-color-contrast: var(--ion-color-facebook-contrast);
    --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
    --ion-color-shade: var(--ion-color-facebook-shade);
    --ion-color-tint: var(--ion-color-facebook-tint);
  }

  /** Google **/
  --ion-color-google: #db4437;
  --ion-color-google-rgb: 219, 68, 55;
  --ion-color-google-contrast: #ffffff;
  --ion-color-google-contrast-rgb: 255, 255, 255;
  --ion-color-google-shade: #c13c30;
  --ion-color-google-tint: #df574b;

  .ion-color-google {
    --ion-color-base: var(--ion-color-google);
    --ion-color-base-rgb: var(--ion-color-google-rgb);
    --ion-color-contrast: var(--ion-color-google-contrast);
    --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb);
    --ion-color-shade: var(--ion-color-google-shade);
    --ion-color-tint: var(--ion-color-google-tint);
  }

  /** Transparent **/
  --ion-color-transparent: transparent;
  --ion-color-transparent-rgb: 0, 0, 0, 0;
  --ion-color-transparent-contrast: #ffffff;
  --ion-color-transparent-contrast-rgb: 255, 255, 255;
  --ion-color-transparent-shade: transparent;
  --ion-color-transparent-tint: transparent;

  .ion-color-transparent {
    --ion-color-base: var(--ion-color-transparent);
    --ion-color-base-rgb: var(--ion-color-transparent-rgb);
    --ion-color-contrast: var(--ion-color-transparent-contrast);
    --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb);
    --ion-color-shade: var(--ion-color-transparent-shade);
    --ion-color-tint: var(--ion-color-transparent-tint);
  }

  /** Tinted **/
  --ion-color-tinted: rgba(0, 0, 0, 0.7);
  --ion-color-tinted-rgb: 0, 0, 0, 0.9;
  --ion-color-tinted-contrast: #ffffff;
  --ion-color-tinted-contrast-rgb: 255, 255, 255;
  --ion-color-tinted-shade: transparent;
  --ion-color-tinted-tint: transparent;

  .ion-color-tinted {
    --ion-color-base: var(--ion-color-tinted);
    --ion-color-base-rgb: var(--ion-color-tinted-rgb);
    --ion-color-contrast: var(--ion-color-tinted-contrast);
    --ion-color-contrast-rgb: var(--ion-color-tinted-contrast-rgb);
    --ion-color-shade: var(--ion-color-tinted-shade);
    --ion-color-tint: var(--ion-color-tinted-tint);
  }
}
// bootstrap colors
$theme-colors: (
  'primary': #b50003,
  'secondary': #780002,
  'info': #780002,
);
