<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterClientModal()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> {{'clients-management.title'| translate}} </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content color="light"
             no-padding>

  <ng-container *ngIf="!isLoading && currentClients.length > 0;  else loadingTemplate">
    <ion-list class="d-block w-100 p-2 bg-transparent">
      <ion-item *ngFor="let client of currentClients"
                class="trip-item"
                lines="none"
                no-padding
                [routerLink]="'/client/'+client.uid"
                routerDirection="forward">
        <ion-label class="d-flex m-0">
          <div class="trip-item__content font-weight-bold w-70">
            <a href="tel:' + client.phone"
               class="mb-1">
              <ion-icon name="call"
                        class="mx-2"></ion-icon>
              {{client.phone}}
            </a>
            <p class="text-capitalize">
              <ion-icon name="pin"
                        class="mx-2"></ion-icon>
              {{client.state}}, {{client.country}}
            </p>
            <a href="mailto:' + client.email"
               class="mb-1">
              <ion-icon name="mail"
                        class="mx-2"></ion-icon>
              {{client.email}}
            </a>
          </div>
          <app-profile-header class="d-inline-flex w-30"
                              size="small"
                              [user]="client"></app-profile-header>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #loadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <div *ngIf="!isLoading && currentClients.length === 0">
        لا يوجد سائقيين حاليين.
      </div>
    </div>
  </ng-template>

</ion-content>
