:host.place-search-select {
  display: block;
  width: 100%;
  padding-top: 0.4rem;
  transition: all 250ms ease;
  overflow-y: auto;

  ion-searchbar {
    ::ng-deep {
      .searchbar-input {
        text-overflow: ellipsis;
        padding-right: 0.4rem;
      }
    }
  }

  &--active {
    height: calc(100vh - 50px);

    ion-searchbar {
      ::ng-deep {
        .searchbar-input {
          padding-right: 55px;
        }
      }
    }
  }
}
