<ion-searchbar type="search"
               placeholder="Search location"
               [(ngModel)]="value.description"
               [debounce]="500"
               (ionFocus)="onSearchFocus()"
               (ionBlur)="onSearchBlur()"
               (ionChange)="searchPlaces(value.description)"></ion-searchbar>
<ion-spinner *ngIf="isTypingAhead && isLoading"
             color="primary"></ion-spinner>
<ion-list *ngIf="isTypingAhead"
          no-padding>
  <ion-item *ngFor="let place of searchResults"
            (click)="selectPlace(place)">
    {{place.description}}
  </ion-item>
  <ion-item (tap)="openPickOnMapModal()"
            button>
    <ion-icon name="pin"
              class="mx-2"></ion-icon>
    <ion-label>
      Select on map
    </ion-label>
  </ion-item>
</ion-list>
