<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!!car">تعديل سيارة</ion-title>
    <ion-title *ngIf="!!!car">اضافة سيارة</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form [formGroup]="addCarForm"
        (ngSubmit)="submitAddCar()">


    <ion-item>
      <ion-label position="floating">
        الماركه *
      </ion-label>
      <ion-input type="text"
                 formControlName="brand"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        الموديل *
      </ion-label>
      <ion-input type="text"
                 formControlName="model"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        اللون انجليزى *
      </ion-label>
      <ion-input type="text"
                 formControlName="color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        اللون عربى *
      </ion-label>
      <ion-input type="text"
                 formControlName="colorArabic"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        اللون المعروض
      </ion-label>
      <i class="im icon-circle mx-1"
         [style.color]="addCarForm.value.colorHex"
         cpPosition="right"
         [cpPositionRelativeToArrow]="true"
         [colorPicker]="addCarForm.value.colorHex"
         (colorPickerChange)="addCarForm.controls.colorHex.setValue($event)"></i>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        رقم اللوحة *
      </ion-label>
      <ion-input type="text"
                 formControlName="plateNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        الفئة *
      </ion-label>
      <ion-select placeholder="Choose"
                  formControlName="type"
                  interface="action-sheet">
        <ion-select-option [value]="CarTypeEnum.SUV">
          {{CarTypeEnum.SUV}}
        </ion-select-option>
        <ion-select-option [value]="CarTypeEnum.SEDAN">
          {{CarTypeEnum.SEDAN}}
        </ion-select-option>
        <ion-select-option [value]="CarTypeEnum.LUXURY">
          {{CarTypeEnum.LUXURY}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        جراج *
      </ion-label>
      <ion-select placeholder="Choose"
                  formControlName="garage"
                  interface="action-sheet">
        <ion-select-option *ngFor="let garage of garages"
                           [value]="garage.id">
          {{garage.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">ملاحظات</ion-label>
      <ion-textarea rows="3"
                    cols="1"
                    formControlName="notes"
                    placeholder="..."></ion-textarea>
    </ion-item>


    <ion-button type="submit"
                expand="full"
                class="my-4 mx-2"
                [disabled]="isLoading">
      <ion-label *ngIf="!!car">حفظ</ion-label>
      <ion-label *ngIf="!!!car">اضف</ion-label>
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
