<ion-content padding
             color="transparent">

  <!-- Email and password section -->
  <section class="d-flex justify-content-end flex-column">
    <div class="d-flex flex-column flex-shrink-0 mt-5">
      <form [formGroup]="loginForm"
            (ngSubmit)="submitLogin()">
        <div class="mt-5">
          <ion-item color="tinted">
            <ion-label position="floating">
              {{ 'login.email' | translate }}
            </ion-label>
            <ion-input type="email"
                       class="english-text text-center"
                       formControlName="email"></ion-input>
          </ion-item>


          <ion-item color="tinted">
            <ion-label position="floating">
              {{ 'login.password' | translate }}
            </ion-label>
            <ion-input type="password"
                       class="text-center"
                       formControlName="password"></ion-input>
          </ion-item>

          <ion-button expand="full"
                      class="mt-3"
                      type="submit"
                      [disabled]="isLoading">
            <ion-spinner *ngIf="isLoading"
                         class="mx-2"></ion-spinner>
            {{ 'login.login' | translate }}

          </ion-button>
          <ion-button expand="full"
                      color="white"
                      fill="clear"
                      class="forgot-pass-btn mt-3"
                      [disabled]="isLoading"
                      (tap)="openForgotPasswordModal()">
            <ion-spinner *ngIf="isLoading"
                         class="mx-2"></ion-spinner>
            {{ 'login.forgotPassword' | translate }}
          </ion-button>
        </div>
      </form>
    </div>

    <div class="d-flex flex-column my-5">
      <ion-button expand="full"
                  color="secondary"
                  routerLink="/home/sign-up"
                  routerDirection="forward">{{ 'login.signup' | translate }}</ion-button>
    </div>
  </section>

  <!-- End of Facebook and G-mail login section -->
</ion-content>
