<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon [hidden]="true"
                  slot="icon-only"
                  name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <app-profile-header *ngIf="driver"
                          [user]="driver"
                          [isConnectable]="true"></app-profile-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="!isProfileLoading ; else loadingTemplate">
  <ion-content no-padding>
    <ion-item>
      <ion-icon name="car"></ion-icon>
      <ion-label class="px-1"
                 text-muted>
        {{driver.fullName}}
      </ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label text-muted>
        <i class="im icon-hash"></i>
        123-أ ب ت
      </ion-label>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label text-muted>
        <i class="im icon-circle"
           [style.color]="'orange'"></i>
        Orange
      </ion-label>
    </ion-item> -->
  </ion-content>
</ng-container>
<ng-template #loadingTemplate>
  <div class="d-flex h-100 justify-content-center pt-4">
    <ion-spinner *ngIf="isProfileLoading"></ion-spinner>
    <div *ngIf="!isProfileLoading ">
      لا يوجد سائقيين حاليين.
    </div>
  </div>
</ng-template>
