<ion-header *ngIf="!isModal">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>العملاء</ion-title>
  </ion-toolbar>

  <!-- <ion-item lines="full">
    <label class="text-muted font-weight-bold d-inline-flex align-items-center">
      <ion-checkbox class="mx-2"></ion-checkbox>
      تحديد الكل
    </label>
  </ion-item> -->

</ion-header>

<ng-template #pageContent>
  <ng-container *ngIf="!isLoading && currentClients.length > 0;  else loadingTemplate">
    <ion-list class="d-block w-100 p-2 bg-transparent pb-5">
      <ion-item *ngIf="isMultiSelect"
                lines="none"
                color="light"
                no-padding>
        <ion-label>
          تحديد الكل
          ({{getSelectedCount()}})
        </ion-label>
        <ion-checkbox slot="end"
                      [indeterminate]="getSelectedCount() > 0 && getSelectedCount() < currentClients.length"
                      (ionChange)="selectAllCurrentClients($event.detail.checked)"></ion-checkbox>
      </ion-item>
      <ion-item *ngFor="let client of currentClients"
                class="trip-item"
                lines="none"
                (click)="selectClient(client)"
                no-padding>
        <ion-label class="d-flex m-0">
          <app-profile-header class="d-inline-flex w-30"
                              size="small"
                              [user]="client"></app-profile-header>
          <div class="trip-item__content font-weight-bold w-70">
            <a [href]="'tel:' + client.phone"
               (click)="$event.stopPropagation()"
               class="mb-1"
               button>

              <ion-icon name="call"
                        class="mx-1"></ion-icon>
              <span>{{client.phone}}</span>
            </a>
            <p>
              <ion-icon name="filing"
                        class="mx-1"></ion-icon>
              {{client?.trips?.past.length || 0}} {{ 'driver-management.trip' | translate }}
            </p>
            <!-- <p>
              <ion-icon name="pulse"
                        class="mx-1"></ion-icon>
              {{'driver-status.'+driver.status | translate}}
            </p> -->
            <!-- <p>
              <ion-icon name="home"
                        class="mx-1"></ion-icon>
              {{ driver?.garage?.name }}
            </p> -->
          </div>
        </ion-label>
        <ion-item *ngIf="isMultiSelect"
                  lines="none"
                  color="offWhite"
                  class="trip-item-checkbox"
                  color="white"
                  (click)="$event.stopPropagation()"
                  no-padding>
          <ion-checkbox slot="end"
                        [(ngModel)]="selectedClients[client.uid]"></ion-checkbox>
        </ion-item>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #loadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <div *ngIf="!isLoading && currentClients.length === 0">
        لا يوجد عملاء .
      </div>
    </div>
  </ng-template>

  <ion-fab *ngIf="isMultiSelect"
           vertical="bottom"
           horizontal="end"
           slot="fixed"
           (click)="selectMultiClient()">
    <ion-fab-button>
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ng-template>

<ion-content *ngIf="!isModal"
             color="light">
  <ng-template [ngTemplateOutlet]="pageContent"></ng-template>
</ion-content>

<ng-container *ngIf="isModal">
  <ng-template [ngTemplateOutlet]="pageContent"></ng-template>
</ng-container>
