<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!!!tripId"></ion-menu-button>
      <ion-button *ngIf="!!tripId"
                  (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{'car-management.title'| translate}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterCarModal()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content color="light"
             no-padding>
  <ng-container *ngIf="!isLoading && cars.length > 0;  else loadingTemplate">

    <ion-list class="d-block w-100 p-2 pb-5 bg-transparent">
      <ion-item-sliding *ngFor="let car of cars"
                        #slidingItem>
        <ion-item-options side="start">
          <ion-item-option color="transparent"
                           (click)="openAddEditCarModal(car); slidingItem.close()">
            <ion-icon slot="icon-only"
                      color="primary"
                      name="create"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <app-car-card [car]="car"
                      (selected)="selectCar($event)"></app-car-card>
        <ion-item-options side="end">
          <ion-item-option color="transparent"
                           (click)="deleteCar(car); slidingItem.close()">
            <ion-icon slot="icon-only"
                      color="danger"
                      name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <div *ngIf="!isLoading && cars.length === 0">
        لا يوجد سيارات متاحة.
      </div>
    </div>
  </ng-template>

  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button (click)="openAddEditCarModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
