// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/fonts/ElMessiri/ElMessiri.scss';
@import 'assets/fonts/icomoon/icomoon.scss';
@import 'variables';
@import '~bootstrap/scss/bootstrap';

html[dir='rtl'] {
  * {
    transform-origin: right top;
    --ion-font-family: 'El Messiri', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    text-align: start;
  }
  ion-label {
    transform-origin: right top !important;
  }

  .reversed-x {
    transform: scaleX(-1);
    transform-origin: top;
  }

  ion-toggle {
    direction: initial;
  }

  ion-item-options[side='start'] {
    right: 0;
    left: auto;
    justify-content: flex-start;
  }
  ion-item-options[side='end'] {
    right: auto;
    left: 0;
    justify-content: flex-end;
  }
}

.english-text {
  direction: ltr;
  text-align: start;
  --ion-font-family: 'El Messiri', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.arabic-text {
  font-family: 'El Messiri';
  text-align: start;
  direction: rtl;
}

.link-blue {
  color: #007bff;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}
.pos-sticky {
  position: sticky !important;
  top: 0;
  z-index: 50;
}

ion-button {
  text-transform: none;
}

ion-spinner {
  height: 1.25rem;
  width: 1.25rem;
}

.trip-item {
  border-radius: 0.3rem;
  overflow: hidden;
  margin: 0.5rem 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;

  ion-label {
    width: 100%;
    height: 100%;
  }

  &__content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.4rem;
    background-color: var(--ion-color-white);
    color: var(--ion-color-dark);
    p {
      white-space: normal;
    }
    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  app-profile-header {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-white);
    flex-shrink: 0;
  }
}

.trip-item-checkbox {
  margin-top: -8px;
}

ion-action-sheet {
  .action-sheet-group {
    .action-sheet-button {
      &.action-sheet-cancel {
        color: var(--ion-color-danger);

        .action-sheet-icon {
          color: var(--ion-color-danger);
        }
      }
    }
  }
}

.modal {
  // To fix bootstrap overriding modals
  display: flex;
  &--no-backdrop {
    ion-backdrop {
      display: none;
    }
  }
}

// to fix map being in modal
ion-app._gmaps_cdv_ {
  .ion-page:not(._gmaps_cdv_),
  ion-modal:not(._gmaps_cdv_),
  video {
    display: none !important;
  }
}

.bg-transparent {
  background-color: var(--ion-color-transparent);
}

a {
  text-decoration: none;
  color: inherit;
}
.ws-normal {
  white-space: normal !important;
}

.color-danger {
  color: var(--ion-color-danger) !important;
}

.color-dark {
  color: var(--ion-color-dark) !important;
}
