<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="d-flex h-100 align-items-center">
        <ion-icon class="mx-1"
                  color="white"
                  name="card"></ion-icon> {{ 'payment.paymentAndPromo' | translate }}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-list-header>
      <ion-label class="text-muted font-weight-bold">
        <ion-icon class="mx-1"
                  name="card"></ion-icon> {{ 'payment.cards' | translate }}
      </ion-label>
    </ion-list-header>
  </ion-list>
  <ion-button fill="clear"
              expand="full"
              (tap)="openAddCardModal()">
    <div class="w-100 d-flex justify-content-start">
      <ion-icon class="mx-1"
                slot="start"
                name="add"></ion-icon>
                {{ 'payment.addCard' | translate }}
    </div>
  </ion-button>


  <ion-list class="border-top">
    <ion-list-header>
      <ion-label class="text-muted font-weight-bold">
        <ion-icon class="mx-1"
                  name="gift"></ion-icon>{{ 'payment.promotions' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <div class="w-100 d-flex justify-content-between">
        <span class="d-inline-flex">{{ 'payment.active' | translate }} </span>
        <span class="d-inline-flex">wellcometosafar</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-input type="text"
                 placeholder="{{ 'payment.newPromoCode' | translate }}"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button fill="clear"
              expand="full">
    <div class="w-100 d-flex justify-content-start">
      <ion-icon class="mx-1"
                slot="start"
                name="add"></ion-icon>
                {{ 'payment.addPromoCode' | translate }}
    </div>
  </ion-button>
</ion-content>
