<ng-template #menuTemplate>
  <ion-header class="p-0 ion-menu__header"
              no-border>
    <ion-toolbar color="secondary"
                 no-padding>
      <app-profile-header [user]="user"></app-profile-header>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">

    <ion-list class="p-0 ion-menu__list">
      <ion-menu-toggle auto-hide="false"
                       *ngFor="let page of appPages">
        <ion-item color="primary"
                  lines="none"
                  routerDirection="forward"
                  [routerLink]="page.url">
          <ng-container *ngIf="page.icon.split(' ').length > 1; else menuIonIcon">
            <i [class]="page.icon"></i>
          </ng-container>
          <ng-template #menuIonIcon>
            <ion-icon color="white"
                      slot="start"
                      [name]="page.icon"></ion-icon>
          </ng-template>
          <ion-label>
            {{page.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ng-template>

<ion-app>
  <ion-split-pane>
    <!--The destruction then creation of the menu fixes the ltr & rtl problem without the need to change side-->
    <ion-menu *ngIf="!!documentDir && isAuthorized"
              side="start">
      <ng-template [ngTemplateOutlet]="menuTemplate"></ng-template>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
