// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/fonts/ElMessiri/ElMessiri.scss';
@import 'assets/fonts/icomoon/icomoon.scss';
@import 'variables';
@import '~bootstrap/scss/bootstrap';

html[dir='rtl'] {
  * {
    transform-origin: right top;
    --ion-font-family: 'El Messiri', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    text-align: start;
  }
  ion-label {
    transform-origin: right top !important;
  }

  .reversed-x {
    transform: scaleX(-1);
    transform-origin: top;
  }
}

.rtl {
  direction: rtl;
}

.english-text {
  direction: ltr;
  text-align: start;
  --ion-font-family: 'El Messiri', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.arabic-text {
  font-family: 'El Messiri';
  text-align: start;
  direction: rtl;
}

.link-blue {
  color: #007bff;
}

.w-80 {
  width: 80% !important;
}

ion-button {
  text-transform: none;
}

ion-spinner {
  height: 1.25rem;
  width: 1.25rem;
}

.action-sheet-group {
  .action-sheet-button {
    &.action-sheet-cancel {
      border-top: 1px solid var(--ion-color-tinted);
      color: var(--ion-color-danger);

      .action-sheet-icon {
        color: var(--ion-color-danger);
      }
    }
  }
}

.modal {
  // To fix bootstrap overriding modals
  display: flex;
  &--no-backdrop {
    ion-backdrop {
      display: none;
    }
  }
}

// to fix map being in modal
ion-app._gmaps_cdv_ {
  .ion-page:not(._gmaps_cdv_),
  ion-modal:not(._gmaps_cdv_),
  video {
    display: none !important;
  }
}

.camera-btn {
  height: 120px;
  width: 120px;
  font-size: 2.5rem;
  --padding-start: 0;
  --padding-end: 0;

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    & > * {
      position: absolute;
    }
  }

  img {
    z-index: 1;
  }
  ion-icon {
    opacity: 0.8;
    z-index: 2;
  }

  &--has-photo {
    border: solid 3px var(--ion-color-primary);
    border-radius: 50%;
    .camera-btn__content {
      background-color: var(--ion-color-light);
    }
    ion-icon {
      opacity: 0.6;
    }
  }
}

.flex-grow {
  flex-grow: 1;
}

.pos-sticky {
  position: sticky !important;
  top: 0;
  z-index: 50;
}
