<ng-container *ngFor="let star of stars">
  <ion-icon *ngIf="value > getStarFillPercentage(star)"
            name="star"></ion-icon>

  <ion-icon *ngIf="value < getStarFillPercentage(star)"
            name="star-outline"></ion-icon>

  <ion-icon *ngIf="value === getStarFillPercentage(star)"
            name="star-half"
            class="reversed-x"></ion-icon>
</ng-container>
