<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> {{'blocked.title'| translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"
             no-padding>
  <ng-container *ngIf="!isLoading && currentBlocked.length > 0;  else loadingTemplate">
    <ion-list class="d-block w-100 p-2 bg-transparent">
      <ion-item *ngFor="let user of currentBlocked"
                class="trip-item"
                lines="none"
                no-padding>
        <ion-label class="d-flex m-0">
          <app-profile-header *ngIf="user.role === 'driver'"
                              class="d-inline-flex w-30"
                              size="small"
                              [user]="user"></app-profile-header>
          <div class="trip-item__content font-weight-bold w-70">

            <a href="tel:' + client.phone"
               (click)="$event.stopPropagation()"
               class="mb-1">
              <ion-icon name="call"
                        class="mx-2"></ion-icon>
              {{user.phone}}
            </a>
            <p class="text-capitalize">
              <ion-icon name="pin"
                        class="mx-2"></ion-icon>
              {{user.state}},
              {{user?.country}}
            </p>
            <a href="mailto:' + client.email"
               (click)="$event.stopPropagation()"
               class="mb-1">
              <ion-icon name="mail"
                        class="mx-2"></ion-icon>
              {{user.email}}
            </a>
            <ion-button color="primary"
                        fill="outline"
                        [disabled]="isUnBlockLoading"
                        (click)="unBlockUser(user)">
              إالغاء الحظر
              <ion-spinner *ngIf="isUnBlockLoading"
                           color="success"
                           class="mx-2"></ion-spinner>
            </ion-button>
          </div>

          <app-profile-header *ngIf="user.role === 'client'"
                              class="d-inline-flex w-30"
                              size="small"
                              [user]="user"></app-profile-header>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #loadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <div *ngIf="!isLoading && currentBlocked.length === 0">
        لا يوجد محظورين حاليين.
      </div>
    </div>
  </ng-template>
</ion-content>
