:host {
  ion-card {
    ion-icon {
      font-size: 3rem;
    }

    ion-card-header {
      font-weight: 600;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      width: 100%;
    }

    ion-card-content {
      font-size: 1.1rem;
      text-align: center;
    }
  }

  .place-card {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    ion-icon {
      font-size: 2rem;
    }

    ion-card-content {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
      height: 5.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.5rem 1rem;

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        font-size: 1.6rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
  }

  ion-icon {
    font-size: 1.4rem;
  }

  ion-progress-bar {
    height: 6px;
  }

  .fade-out-container {
    height: 0;
    overflow: hidden;

    &--on {
      height: 50px;
    }
    &--off {
      transition: all ease 250ms;
      height: 0;
    }
  }

  app-profile-header {
    ::ng-deep {
      .title__rating {
        justify-content: center;
      }
    }
  }
}
