<ion-header *ngIf="isPage">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'tripdetails.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>



<ng-template #tripContent>
  <ng-container *ngIf="!isLoading; else loadingTemplate">
    <ng-container *ngIf="isTripRequest">
      <ion-card color="white">
        <ion-card-content>
          <h2 class="text-muted">راجع الرحلة وأقبلها فى أقرب وقت لحجزها قبل باقى السائقيين.</h2>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ng-container *ngIf="!isTripRequest && (isPage && !currentTripExist || !isPage)">
      <div class="row m-0 px-1">
        <div class="col-12 p-1">
          <ion-card class="m-0 h-100"
                    color="white">
            <ion-card-header class="text-muted">
              <ion-icon name="flag"
                        class="mx-1"
                        color="primary"></ion-icon>
            </ion-card-header>
            <ion-card-content>
              {{ 'tripdetails.tracking-status' | translate }}

              {{'tripdetails.gps-status.' + isTrackingOn | translate}}
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div class="row m-0 px-1">
        <div class="col-12 p-1">
          <ion-card class="m-0 h-100"
                    color="white">
            <ion-card-content>
              <ion-item lines="none">
                <ion-label position="floating"> {{ 'overview.choose' | translate }}</ion-label>
                <ion-select interface="action-sheet"
                            [(ngModel)]="trip.driverStatus"
                            (ionChange)="driverTripStatusChanged($event.detail.value)">
                  <ng-container *ngFor="let driverStatus of driverStatusList;let statusI = index">
                    <ion-select-option *ngIf="trip.driverStatus === driverTripStatusEnum.QUEUED || driverStatusList.indexOf(trip.driverStatus) <= statusI"
                                       [value]="driverStatus">
                      {{ 'tripdetails.statuses.' + driverStatus | translate }}
                    </ion-select-option>
                  </ng-container>
                </ion-select>

              </ion-item>
              <div class="fade-out-container mt-4"
                   [ngClass]="{'fade-out-container--on': isDriverStatusAboutToChange, 'fade-out-container--off': !isDriverStatusAboutToChange}">
                <ion-button type="submit"
                            expand="full"
                            color="danger"
                            class="mb-0 mx-0"
                            (click)="cancelDriverTripStatusChange()"
                            [disabled]="isChangeLoading">
                  <div class="btn-with-progress">
                    {{ 'tripdetails.cacnel-change' | translate }}
                    <ion-spinner *ngIf="isChangeLoading"
                                 class="mx-2"></ion-spinner>
                  </div>
                </ion-button>
                <ion-progress-bar color="danger"
                                  [value]="driverStatusChangeCountDown"></ion-progress-bar>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ng-container>

    <ion-card [style.background-image]="getStateParsedURL(trip?.pickupPlace.state)"
              class="place-card"
              (click)="launchGoogleNavigator(trip.pickupPlace.description)"
              button>
      <ion-card-content>
        <h2 class="d-flex align-items-center text-white text-capitalize">
          <ion-icon name="pin"
                    class="mx-1"></ion-icon>
          {{ 'tripdetails.pickupFrom' | translate }}
        </h2>

        <h1 class="d-flex justify-content-center text-white text-capitalize">
          {{'governorates.'+trip.pickupPlace.state.toLowerCase() | translate}}
        </h1>
      </ion-card-content>
    </ion-card>
    <ion-card [style.background-image]="getStateParsedURL(trip?.dropPlace.state)"
              class="place-card"
              (click)="launchGoogleNavigator(trip.dropPlace.description)"
              button>
      <ion-card-content>
        <h2 class="d-flex align-items-center text-white text-capitalize">
          <ion-icon name="pin"
                    class="mx-1"></ion-icon>
          {{ 'tripdetails.dropIn' | translate }}
        </h2>

        <h1 class="d-flex justify-content-center text-white text-capitalize">
          {{'governorates.'+trip.dropPlace.state.toLowerCase() | translate}}
        </h1>
      </ion-card-content>
    </ion-card>

    <div class="row m-0 px-1">
      <div class="col-6 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="calendar"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{trip.pickupDateTime | date:'d-MMM-yyyy'}}
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-6 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="time"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{trip.pickupDateTime | date:'hh:mmaa'}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div *ngIf="!!trip.car"
           class="col-6 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="car"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{trip.car.brand}} / {{trip.car.plateNumber}} /
            {{trip.car.model}} / {{trip.car.color}}
            <i class="im icon-circle mx-1"
               [style.color]="trip.car.colorHex || trip.car.color"></i>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-6 p-1">
        <ion-card class="m-0 h-100"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="cash"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{ 'tripdetails.cost' | translate }}:
            {{(trip?.pricing?.driverSalary || 0) | currency:' '}} جم
            <div *ngIf="!!!trip?.pricing?.driverSalary"
                 class="text-muted text-center">
              لم يحدد بعد
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div *ngIf="isTripRequest"
         class="d-flex justify-content-center my-4 px-2">
      <ion-button color="success"
                  class="flex-grow"
                  [disabled]="isTripRequestLoading"
                  (click)="acceptTripRequest()">
        قبول
        <ion-spinner *ngIf="isTripRequestLoading"
                     class="mx-2"></ion-spinner>
      </ion-button>
      <ion-button color="danger"
                  class="flex-grow"
                  [disabled]="isTripRequestLoading"
                  (click)="rejectTripRequest()">
        رفض
        <ion-spinner *ngIf="isTripRequestLoading"
                     class="mx-2"></ion-spinner>
      </ion-button>
    </div>

    <div class="row m-0 mb-5">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content>
            <app-profile-header [user]="trip.client"
                                [isConnectable]="true">

            </app-profile-header>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ng-container>



  <ng-template #loadingTemplate>
    <div class="row m-0 px-1">
      <div *ngIf="isTripRequest"
           class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="100"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="100"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="100"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="100"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="100"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="100"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="300"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="300"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="300"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="300"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="300"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </ng-template>



</ng-template>

<ion-content *ngIf="isPage"
             color="light"
             no-padding>
  <ng-template [ngTemplateOutlet]="tripContent"></ng-template>

  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button (tap)="launchDynamicGoogleNavigator(trip)"
                    [disabled]="trip?.driverStatus !== driverTripStatusEnum.MEETING_CLIENT && trip?.driverStatus !== driverTripStatusEnum.STARTED">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-container *ngIf="!isPage">
  <ng-template [ngTemplateOutlet]="tripContent"></ng-template>
</ng-container>
