<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'day-rental.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding
             color="light">

  <ion-item *ngIf="!isLoading"
            lines="none"
            class="d-flex align-items-center ">
    <ion-label class="ws-normal">
      {{('day-rental.subject' | translate).replace('{dayRentalKm}', systemFlags.dayRentalKm).replace('{dayRentalPrice}', systemFlags.dayRentalPrice)}}
    </ion-label>
  </ion-item>

  <ion-item *ngIf="!isLoading"
            lines="none">
    <ion-grid>
      <ion-row justify-content-center
               align-items-center>
        <a [href]="'tel:' + systemFlags.fastOrderNumber">
          <ion-button color="primary"
                      expand="full"
                      class="mt-5">
            {{'day-rental.call-now' | translate}}
          </ion-button>
        </a>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-spinner *ngIf="isLoading"
               class="mt-2"></ion-spinner>


</ion-content>
