<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ "review.title" | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding
             color="light">

  <form [formGroup]="reviewForm"
        (submit)="submitReview()">

    <div class="card">
      <div class="d-flex justify-content-center">
        <app-profile-header class="d-inline-flex w-30"
                            size="small"
                            [user]="user"></app-profile-header>
      </div>

      <div class="d-flex align-items-center flex-column mt-5">
        <ion-label *ngIf="value > 0.8">
          {{ "review.excellent" | translate }}
        </ion-label>
        <ion-label *ngIf="value >= 0.7 && value <= 0.8">
          {{ "review.very-Good" | translate }}
        </ion-label>
        <ion-label *ngIf="value >= 0.6 && value < 0.7">
          {{ "review.good" | translate }}
        </ion-label>
        <ion-label *ngIf="value >= 0.4 && value < 0.6">
          {{ "review.acceptable" | translate }}
        </ion-label>
        <ion-label *ngIf="value >= 0.2 && value < 0.4">
          {{ "review.bad" | translate }}
        </ion-label>
        <ion-label *ngIf="value < 0.2">
          {{ "review.very-Bad" | translate }}
        </ion-label>


        <app-star-rating [(value)]="value"
                         (valueChange)="reviewForm.controls.rate.setValue($event)">
        </app-star-rating>
      </div>

      <ion-item class="mx-2 my-5">
        <ion-label position="floating">{{ "review.comment" | translate }}</ion-label>
        <ion-textarea formControlName="comment"
                      rows="3"
                      cols="1"></ion-textarea>
      </ion-item>
    </div>


    <section class="mt-5">
      <ion-button type="submit"
                  expand="full">
        <ion-label>{{ "review.submit" | translate }}</ion-label>
      </ion-button>
    </section>
  </form>
</ion-content>
