<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openFilterTripModal()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> تاريخ الرحلات </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content color="light"
             no-padding>

  <ng-container *ngIf="!isPastLoading && pastTrips.length > 0;  else loadingTemplate">
    <ion-list class="d-block w-100 p-2 bg-transparent">
      <ion-item class="trip-item pos-sticky revenue-header"
                lines="none"
                no-padding>
        <ion-label class="d-flex m-0">
          <div
               class="d-inline-flex flex-column align-items-center justify-content-center w-20 h-100 bg-primary text-white px-2">
            <div>
              من
            </div>
            <div>
              {{tripFilter.fromRequestDateTime | date:'d-M-yyyy'}}
            </div>
          </div>
          <div class="trip-item__content align-items-center justify-content-center font-weight-bold h-100 w-60">
            {{incomeTotal | currency:' '}} EGP
          </div>
          <div
               class="d-inline-flex flex-column align-items-center justify-content-center w-20 h-100 bg-primary text-white px-2">
            <div>
              إلي
            </div>
            <div>
              {{tripFilter.toRequestDateTime | date:'d-M-yyyy'}}
            </div>
          </div>
        </ion-label>
      </ion-item>

      <ion-item *ngFor="let trip of pastTrips"
                class="trip-item"
                lines="none"
                [routerLink]="'/trip/'+trip.id"
                routerDirection="forward"
                no-padding>
        <ion-label class="d-flex m-0">
          <app-profile-header class="d-inline-flex w-20"
                              size="small"
                              [user]="trip.driver"></app-profile-header>
          <div class="trip-item__content font-weight-bold w-60">
            <p *ngIf="trip.car">
              <ion-icon name="logo-model-s"
                        class="mx-1"></ion-icon>
              <span>
                {{trip.car?.type}} : {{trip.car?.model}} : {{trip.car?.brand}}
              </span>
            </p>
            <p>
              <ion-icon name="pin"
                        class="mx-1"></ion-icon>
              <span>
                من : {{trip.pickupPlace.description}}
              </span>
            </p>
            <p>
              <ion-icon name="navigate"
                        class="mx-1"></ion-icon>
              <span>
                الي : {{trip.dropPlace.description}}
              </span>
            </p>
            <p>
              <ion-icon name="cash"
                        class="mx-1"></ion-icon>
              <span>
                {{ trip.pricing.base | currency:' '}} جم
              </span>
            </p>
          </div>
          <app-profile-header class="d-inline-flex w-20"
                              size="small"
                              [user]="trip.client"></app-profile-header>
        </ion-label>
      </ion-item>

    </ion-list>
  </ng-container>
  <ng-template #loadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isPastLoading"></ion-spinner>
      <div *ngIf="!isPastLoading && pastTrips.length === 0">
        لا يوجد لديك رحلات سابقة.
      </div>
    </div>
  </ng-template>

  <!--End Of Ion List -->
</ion-content>
