:host {
  ion-card {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    ion-card-content {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
      height: 5.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.5rem 1rem;

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        font-size: 1.6rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
  }
}
