<ion-card [style.background-image]="getStateParsedURL(trip?.dropPlace.state)"
          button>
  <ion-card-content>
    <h1 class=" d-flex justify-content-between text-white">
      <div class="text-capitalize">{{'governorates.'+trip.dropPlace.state.toLowerCase() | translate}}</div>
      <app-star-rating *ngIf="trip.clientReview"
                       [value]="trip.clientReview.scoreOfFive/5"></app-star-rating>
    </h1>

    <h2 class=" d-flex justify-content-between text-white">
      <div class="english-text">
        {{trip.pickupDateTime | date:'d-MM-yyyy hh:mm aa':'':'ar'}}
      </div>

      <div>
        <ion-badge color="success"
                   slot="end">
          {{(trip?.pricing?.driverSalary || 0) | currency:' '}} جم
        </ion-badge>
      </div>
    </h2>
  </ion-card-content>
</ion-card>
