<ion-item class="trip-item"
          lines="none"
          (click)="selectDriver()"
          no-padding>
  <ion-label class="d-flex m-0">
    <app-profile-header class="d-inline-flex w-30"
                        size="small"
                        [user]="driver"></app-profile-header>
    <div class="trip-item__content font-weight-bold w-70">
      <a [href]="'tel:' + driver.phone"
         (click)="$event.stopPropagation()"
         class="mb-1"
         button>

        <ion-icon name="call"
                  class="mx-1"></ion-icon>
        <span>{{driver.phone}}</span>
      </a>
      <p *ngIf="!shortend">
        <ion-icon name="filing"
                  class="mx-1"></ion-icon>
        {{driver?.trips?.past.length || 0}} {{ 'driver-management.trip' | translate }}
      </p>
      <div class="row">
        <p *ngIf="!shortend"
           class="col-6">
          <ion-icon name="pulse"
                    class="mx-1"></ion-icon>
          {{'driver-status.'+driver.status | translate}}
        </p>
        <p class="col-6">
          <ion-icon name="home"
                    class="mx-1"></ion-icon>
          {{ driver?.garage?.name }}
        </p>
      </div>
      <p *ngIf="!shortend">
        <ion-icon name="cash"
                  class="mx-1"></ion-icon>
        <span>
          {{ (driver?.balance || 0) | currency:' '}} جم
        </span>
      </p>
    </div>
  </ion-label>
  <ng-content></ng-content>
</ion-item>
