<ion-header>
  <ion-toolbar color="primary">
    <ion-title>الشروط و الأحكام</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>جميع المحتويات في هذا الموقع ، بما في ذلك النصوص الكاملة للوثائق، والتصميم والصور والبرامج والنصوص وغيرها من المعلومات (إجمالا ، "المحتوى") هي من ممتلكات شركة دار المنظومة أو الجهات المرخصة بموجب العقود الموقعة معها. وجميع هذه المحتويات محمية بموجب قوانين وأنظمة حقوق المؤلف وغيرها من قوانين الملكية الفكرية.
      لا يجوز لك نسخ أو عرض أو توزيع أو تعديل أو نشر أو إعادة إنتاج أو تخزين أو نقل أو إنشاء أعمال اشتقاقية ، أو بيع أو ترخيص جميع أو أي جزء من محتويات ، أو منتجات أو خدمات القواعد، والتي تم الحصول عليها من هذا الموقع في أي وسيلة ولأي احد، ما عدا ما ينص بشكل صريح على السماح به بموجب القانون المعمول به أو على النحو المبين في هذه الشروط والبنود ذات الصلة أو ترخيص أو اتفاق مشترك.
      يمكنك تنزيل أو طباعة المحتويات من الموقع لاستخدامك الشخصي فقط، وليس الاستخدام التجاري، شريطة عدم المساس بجميع حقوق التأليف والنشر واتفاقيات الملكية الفكرية الأخرى.
      لا يجوز لك تجاوز حدود الاستخدام العادل للمحتوى بما في ذلك القيام باسترجاع كميات كبيرة وبشكل منتظم لمحتويات القواعد من اجل إنشاء مجموعات من البحوث والدراسات أو بناء قواعد معلومات منها سواء بشكل مباشر أو غير مباشر أو لاي سبب آخر. وفي حال تجاوز المستخدم الفرد تنزيل ملفات المحتوى بما يزيد عن (200 ملف ) في اليوم الواحد، فإن ذلك يعتبر اختراق لحدود الاستخدام العادل والطبيعي للمحتوى وعليه فيحق للشركة منعه وحجبه عن الوصول للمحتوى واتخاذ الإجراءات القانونية المناسبة ضده.
      يمنع بشكل قطعي استخدام برامج الروبوت ، والعناكب والزواحف وغيرها من البرامج أو الوصول إلى القواعد عبر برامج أخرى غير مصرحة، كما يمنع استخدام برامج جمع وحصد العناوين البريدية أو عناوين البريد الإلكتروني من الموقع لأغراض غير مناسبة أو استخدامها لاغراض الدعاية التجارية. ويمكن مراسلة الشركة بشكل مباشر في حال الرغبة في الاستفسار عن الأغراض المشروعة، أو طلبات للحصول على إذن لنشر أو إعادة إنتاج أو توزيع أو عرض أو تقديم أعمال مشتقة من أي محتوى من محتويات القواعد والموقع بشكل عام.
      لا يجوز لك استخدام القواعد أو موقع الشركة لنشر أو توزيع أي معلومات (بما في ذلك البرمجيات أو المحتويات الأخرى) والتي تعد غير قانونية ، أو تنتهك أو تتعدى على حقوق أي شخص آخر ، أو المسيئة لأي جهة كانت، أو المواد الإباحية والمبتذلة ، أو تحتوي على الفيروسات أو غيرها من المكونات الضارة ، أو التي لا تجيزها الانظمة المحلية والدولية. لا يجوز لك ، دون موافقة الشركة استخدام الموقع لنشر أو توزيع أي إعلان ، أو مادة ترويجية، أو أي سلع أو خدمات.</p>

</ion-content>
