<ion-content padding
             color="transparent">
  <form [formGroup]="signUpForm"
        (ngSubmit)="submitSignUp()">
    <ion-fab vertical="top"
             horizontal="{{documentDir === 'ltr'? 'start' : 'end'}}"
             slot="fixed">
      <ion-fab-button color="transparent"
                      class="back-btn"
                      routerLink="/home/login"
                      routerDirection="back">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div class="mt-5 text-center">
      <ion-button class="camera-btn mb-3"
                  [ngClass]="{ 'camera-btn--has-photo': !!signUpForm.value.pictureURL }"
                  shape="round"
                  color="dark"
                  (click)="pickProfilePhoto()">
        <div class="camera-btn__content">
          <img *ngIf="!!signUpForm.value.pictureURL"
               [src]="signUpForm.value.pictureURL" />
          <ion-icon name="camera"></ion-icon>
        </div>
      </ion-button>

      <ion-item color="tinted">
        <ion-label position="floating">
          {{ "signup.name" | translate }} *
        </ion-label>
        <ion-input class="text-center"
                   formControlName="fullName"></ion-input>
      </ion-item>

      <ion-item color="tinted">
        <ion-label position="floating">
          {{ "signup.email" | translate }} *
        </ion-label>
        <ion-input type="email"
                   class="text-center transparent-input"
                   formControlName="email"></ion-input>
      </ion-item>

      <ion-item color="tinted">
        <ion-label position="floating">
          {{ "signup.password" | translate }} *
        </ion-label>
        <ion-input type="password"
                   class="text-center transparent-input"
                   formControlName="password"></ion-input>
      </ion-item>

      <ion-item color="tinted">
        <ion-label position="floating">
          {{ "signup.confirmPassword" | translate }} *
        </ion-label>
        <ion-input type="password"
                   class="text-center transparent-input"
                   formControlName="confirmPassword"></ion-input>
      </ion-item>

      <ion-item color="tinted">
        <ion-label position="floating">
          {{ "signup.mobile" | translate }} *
        </ion-label>
        <ion-input type="tel"
                   class="text-center"
                   formControlName="phone"></ion-input>
      </ion-item>

      <ion-item color="tinted">
        <ion-label>{{ "signup.government" | translate }} *</ion-label>
        <ion-select placeholder="Choose"
                    interface="action-sheet"
                    formControlName="state">
          <ion-select-option *ngFor="let state of states"
                             [value]="state">
            {{ "governorates."+state.toLowerCase() | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="tinted">
        <ion-label position="floating">
          {{ "signup.address" | translate }} *
        </ion-label>
        <ion-input class="text-center"
                   formControlName="address"></ion-input>
      </ion-item>

    </div>

    <ion-button expand="full"
                class="mt-4 mb-5"
                type="submit"
                [disabled]="isLoading">
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
      {{ "signup.signup" | translate }}
    </ion-button>
  </form>
</ion-content>
