<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{ 'polices.polices' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel accumsan urna, sit amet laoreet sem. Aenean vehicula viverra pharetra. Praesent hendrerit elit sem, ut convallis sem efficitur id. Nulla posuere erat eget feugiat feugiat. Pellentesque est velit, ullamcorper id enim non, lacinia posuere libero. Nam ullamcorper velit id imperdiet ultrices. Suspendisse tempor eu tellus a aliquam. Aliquam at vestibulum nulla. Nunc sed metus mauris. Aenean egestas augue in mattis semper. Quisque eu ipsum ut justo mattis imperdiet at vitae nisl. Nunc ornare metus felis, lacinia feugiat augue sollicitudin non. Phasellus rutrum tempor arcu ac congue.

  Aenean fringilla eu ex condimentum lobortis. Donec faucibus mi at aliquet fringilla. Quisque semper metus eros, non vestibulum velit lacinia sed. Duis nec blandit est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi interdum massa id quam ultrices, nec iaculis velit rutrum. Morbi fringilla luctus augue, quis interdum nibh tincidunt at. Pellentesque quis ipsum auctor, bibendum neque eu, consectetur diam. Nam ut quam euismod, scelerisque lectus vel, molestie orci. Etiam maximus bibendum nisl, at tempus lorem hendrerit non. Nunc augue eros, ullamcorper facilisis consectetur id, molestie vel velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sit amet finibus diam. Proin condimentum ex metus, eu faucibus nunc dapibus quis. Sed blandit blandit lectus non venenatis. Etiam vitae tincidunt risus.

  Proin quam nulla, fringilla a finibus id, pellentesque id ligula. Curabitur mauris velit, vulputate ut arcu eu, gravida congue leo. In hac habitasse platea dictumst. Cras placerat imperdiet vulputate. Fusce consequat vitae nunc non dapibus. Morbi nec suscipit velit, in gravida lacus. In varius metus sed ullamcorper iaculis. Vivamus gravida molestie mauris quis pulvinar. Nunc hendrerit metus ex, quis finibus neque dapibus et. Donec faucibus ligula ut augue interdum aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia lacinia posuere. Pellentesque nec dignissim libero.

  Mauris quis tincidunt est. Maecenas quis est in lorem mattis maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ut risus vitae mi molestie ornare et rutrum lectus. Fusce accumsan semper interdum. Proin placerat cursus libero. Cras laoreet est metus, quis ullamcorper magna lobortis in. Donec consequat interdum ante et tristique. Phasellus elementum mi nibh, vel euismod turpis lobortis sit amet.

  Integer sed fermentum eros, ut porta nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur tempus enim id erat maximus, vitae lacinia ipsum egestas. Nullam lobortis felis eu sem accumsan fringilla. Fusce pulvinar lobortis ligula, eget dapibus est egestas a. Phasellus fringilla, metus a malesuada congue, quam mauris sagittis magna, eu maximus orci ante et lacus. Morbi nisl urna, molestie at nunc eget, maximus fringilla justo. Integer euismod libero quis ligula facilisis, sit amet porta libero dapibus. Phasellus condimentum, quam ac iaculis sollicitudin, sem tellus lacinia felis, id gravida nunc mi ut mauris. In nisi lectus, fringilla vitae mauris eu, imperdiet elementum odio. Aenean vel blandit augue. Duis pellentesque ex non felis lacinia, sit amet lobortis augue imperdiet. Ut quis posuere lorem. Vivamus faucibus, justo consectetur consequat porttitor, felis dui interdum risus, non tristique neque nunc eu massa. </p>
</ion-content>
