<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> الرحلات </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterTripModal()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light"
             no-padding>
  <!--Ion Segments -->
  <ion-segment [(ngModel)]="currentTab"
               (ionChange)="tabChange($event.detail.value)"
               color="primary"
               class="pos-sticky bg-white">
    <ion-segment-button [value]="0"
                        class="text-muted font-weight-bold align-items-center">
      الجديدة
    </ion-segment-button>
    <ion-segment-button [value]="1"
                        class="text-muted font-weight-bold align-items-center">
      القادمة
    </ion-segment-button>
    <ion-segment-button [value]="2"
                        class="text-muted font-weight-bold align-items-center">
      الفعالة
    </ion-segment-button>
  </ion-segment>

  <ion-slides (ionSlideDidChange)="tabChange()"
              #slider>
    <ion-slide>

      <ng-container *ngIf="!isNewLoading && newTrips.length > 0;  else newLoadingTemplate">

        <ion-list class="d-block w-100 p-2 bg-transparent">

          <ion-item *ngIf="isDeleteMode"
                    lines="none"
                    color="light"
                    no-padding>
            <ion-label>تحديد الكل</ion-label>
            <ion-checkbox slot="end"
                          (ionChange)="selectAllNewTrips($event.detail.checked)"></ion-checkbox>
          </ion-item>

          <ng-container *ngFor="let trip of newTrips">
            <ion-item class="trip-item"
                      lines="none"
                      no-padding
                      [routerLink]="'/trip/'+trip.id"
                      routerDirection="forward">
              <ion-label class="d-flex m-0">
                <div class="trip-item__content font-weight-bold w-70">
                  <p>
                    <ion-icon name="pin"
                              class="mx-1"></ion-icon>
                    <span>
                      من: {{trip.pickupPlace.description}}
                    </span>
                  </p>
                  <p>
                    <ion-icon name="navigate"
                              class="mx-1"></ion-icon>
                    <span>
                      إلى: {{trip.dropPlace.description}}
                    </span>
                  </p>
                  <p>
                    <ion-icon name="car"
                              class="mx-1"></ion-icon>
                    <span>
                      {{trip.carType}}
                    </span>
                  </p>
                </div>
                <app-profile-header class="d-inline-flex w-30"
                                    size="small"
                                    [user]="trip.client"></app-profile-header>
              </ion-label>

            </ion-item>
            <ion-item *ngIf="isDeleteMode"
                      lines="none"
                      color="offWhite"
                      class="trip-item-checkbox"
                      no-padding>
              <ion-label></ion-label>
              <ion-checkbox slot="end"
                            [(ngModel)]="selectedTrips[trip.id]"></ion-checkbox>
            </ion-item>
          </ng-container>
        </ion-list>
      </ng-container>

      <ng-template #newLoadingTemplate>
        <div class="d-flex h-100 justify-content-center pt-4">
          <ion-spinner *ngIf="isNewLoading"></ion-spinner>
          <div *ngIf="!isNewLoading && newTrips.length === 0">
            لا يوجد لديك رحلات جديدة.
          </div>
        </div>
      </ng-template>

    </ion-slide>


    <ion-slide>
      <ng-container *ngIf="!isFutureLoading && futureTrips.length > 0;  else futureLoadingTemplate">
        <ion-list class="d-block w-100 p-2 bg-transparent">

          <ion-item *ngIf="isDeleteMode"
                    lines="none"
                    color="light"
                    no-padding>
            <ion-label>تحديد الكل</ion-label>
            <ion-checkbox slot="end"
                          (ionChange)="selectAllFutureTrips($event.detail.checked)"></ion-checkbox>
          </ion-item>
          <ng-container *ngFor="let trip of futureTrips">
            <ion-item class="trip-item"
                      lines="none"
                      [routerLink]="'/trip/'+trip.id"
                      routerDirection="forward"
                      no-padding>
              <ion-label class="d-flex m-0">
                <app-profile-header class="d-inline-flex w-20"
                                    size="small"
                                    [user]="trip.driver"></app-profile-header>
                <div class="trip-item__content font-weight-bold w-60">
                  <p>
                    <ion-icon name="logo-model-s"
                              class="mx-1"></ion-icon>
                    <span>
                      {{trip.car.type}} : {{trip.car.model}}
                    </span>
                  </p>
                  <p>
                    <ion-icon name="pin"
                              class="mx-1"></ion-icon>
                    <span>
                      من : {{trip.pickupPlace.description}}
                    </span>
                  </p>
                  <p>
                    <ion-icon name="navigate"
                              class="mx-1"></ion-icon>
                    <span>
                      الي : {{trip.dropPlace.description}}
                    </span>
                  </p>
                </div>
                <app-profile-header class="d-inline-flex w-20"
                                    size="small"
                                    [user]="trip.client"></app-profile-header>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="isDeleteMode"
                      lines="none"
                      color="offWhite"
                      class="trip-item-checkbox"
                      no-padding>
              <ion-label></ion-label>
              <ion-checkbox slot="end"
                            [(ngModel)]="selectedTrips[trip.id]"></ion-checkbox>
            </ion-item>
          </ng-container>
        </ion-list>
      </ng-container>
      <ng-template #futureLoadingTemplate>
        <div class="d-flex h-100 justify-content-center pt-4">
          <ion-spinner *ngIf="isFutureLoading"></ion-spinner>
          <div *ngIf="!isFutureLoading && futureTrips.length === 0">
            لا يوجد لديك رحلات قادمة.
          </div>
        </div>
      </ng-template>
    </ion-slide>


    <ion-slide>
      <ng-container
                    *ngIf="!isCurrentLoading && (currentTrips.length > 0 || finishedTrips.length > 0);  else currentLoadingTemplate">
        <ion-list class="d-block w-100 p-2 bg-transparent">

          <ion-item *ngIf="isDeleteMode"
                    lines="none"
                    color="light"
                    no-padding>
            <ion-label>تحديد الكل</ion-label>
            <ion-checkbox slot="end"
                          (ionChange)="selectAllCurrentTrips($event.detail.checked)"></ion-checkbox>
          </ion-item>
          <ng-container *ngFor="let trip of [].concat(currentTrips, finishedTrips)">
            <ion-item class="trip-item"
                      lines="none"
                      [routerLink]="'/trip/'+trip.id"
                      routerDirection="forward"
                      no-padding>
              <ion-label class="d-flex m-0">
                <app-profile-header class="d-inline-flex w-30"
                                    size="small"
                                    [user]="trip.driver"></app-profile-header>
                <div class="trip-item__content font-weight-bold w-70">
                  <p>
                    <ion-icon name="logo-model-s"
                              class="mx-1"></ion-icon>
                    <span>
                      {{trip.car?.model}}
                    </span>
                  </p>
                  <p>
                    <ion-icon name="pin"
                              class="mx-1"></ion-icon>
                    <span>
                      من : {{trip.pickupPlace.description}}
                    </span>
                  </p>
                  <p>
                    <ion-icon name="navigate"
                              class="mx-1"></ion-icon>
                    <span>
                      الي : {{trip.dropPlace.description}}
                    </span>
                  </p>
                </div>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="isDeleteMode"
                      lines="none"
                      color="offWhite"
                      class="trip-item-checkbox"
                      no-padding>
              <ion-label></ion-label>
              <ion-checkbox slot="end"
                            [(ngModel)]="selectedTrips[trip.id]"></ion-checkbox>
            </ion-item>
          </ng-container>
        </ion-list>
      </ng-container>
      <ng-template #currentLoadingTemplate>
        <div class="d-flex h-100 justify-content-center pt-4">
          <ion-spinner *ngIf="isCurrentLoading"></ion-spinner>
          <div *ngIf="!isCurrentLoading && currentTrips.length === 0">
            لا يوجد لديك رحلات فعالة.
          </div>
        </div>
      </ng-template>
    </ion-slide>
  </ion-slides>

  <ion-fab *ngIf="isDeleteMode"
           vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button [disabled]="isDeleteSelectedLoading"
                    (click)="deleteSelected()">
      <ion-icon *ngIf="!isDeleteSelectedLoading"
                name="trash"></ion-icon>
      <ion-spinner *ngIf="isDeleteSelectedLoading"
                   class="mx-2"></ion-spinner>
    </ion-fab-button>
  </ion-fab>

</ion-content>
