<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'complains.detail'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding
             color="light">
  <app-profile-header [user]="complain.sender"
                      [isConnectable]="true"></app-profile-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <span class="font-weight-bold">{{'complains.subject'| translate}} :</span>
        {{complain.subject}}
      </ion-card-title>
      <ion-card-subtitle>
        <span class="font-weight-bold">{{'complains.date'| translate}} :</span>
        {{complain.joiningDate  | date:'d-MM-yyyy hh:mm aa':'':'ar'}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{complain.note}}
    </ion-card-content>
  </ion-card>

</ion-content>
