<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      الإعدادات
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item routerLink="/settings/trips-salary"
            routerDirection="forward"
            no-padding>
    <ion-icon name="cash"
              class="mx-2"></ion-icon>

    <ion-label text-muted>
      <p>تعديل أسعار الرحلات</p>
    </ion-label>
  </ion-item>
  <ion-item (click)="openBlockedUsersModal()"
            [disabled]="false"
            no-padding>
    <ion-icon name="lock"
              class='mx-2'></ion-icon>
    <ion-label text-muted>
      <p>قائمة المحظورين</p>
    </ion-label>
  </ion-item>

  <ng-container *ngIf="!!systemFlags">
    <ion-item-divider lines="none"
                      class="mt-3">
      <ion-label color="primary">
        التسعيرة:
      </ion-label>
    </ion-item-divider>
    <div class="row">
      <ion-item class="col-6 px-2"
                no-padding>
        <ion-label position="floating">
          سعر الكيلو متر:
        </ion-label>
        <ion-input type="number"
                   [(ngModel)]="systemFlags.kmPrice">
        </ion-input>
      </ion-item>
      <ion-item class="col-6 px-2"
                no-padding>
        <ion-label position="floating">
          سعر ساعة الإنتظار:
        </ion-label>
        <ion-input type="number"
                   [(ngModel)]="systemFlags.waitingHourPrice">
        </ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item class="col-6 px-2"
                no-padding>
        <ion-label position="floating">
          سعر التأجير باليوم:
        </ion-label>
        <ion-input type="number"
                   [(ngModel)]="systemFlags.dayRentalPrice">
        </ion-input>
      </ion-item>

      <ion-item class="col-6 px-2"
                no-padding>
        <ion-label position="floating">
          سعر التأجير بالكيلو:
        </ion-label>
        <ion-input type="number"
                   [(ngModel)]="systemFlags.dayRentalKm">
        </ion-input>
      </ion-item>
    </div>

    <div class="row">
        <ion-item class="col-12 px-2"
                  no-padding>
          <ion-label position="floating">
            سعر الكيلو متر للدفع الرباعى:
          </ion-label>
          <ion-input type="number"
                     [(ngModel)]="systemFlags.kmPriceSUV">
          </ion-input>
        </ion-item>
      </div>

    <ion-item-divider lines="none"
                      class="mt-3">
      <ion-label color="primary">
        إعدادات الطلب:
      </ion-label>
    </ion-item-divider>
    <div class="row">
      <ion-item class="col-6 px-2"
                no-padding>
        <ion-label position="floating">
          أقل وقت قبل الطلب:
        </ion-label>
        <ion-input type="number"
                   [(ngModel)]="systemFlags.minTimeBeforeOrder">
        </ion-input>
      </ion-item>
      <ion-item class="col-6 px-2"
                no-padding>
        <ion-label position="floating">
          أقل مسافة للرحلة:
        </ion-label>
        <ion-input type="number"
                   [(ngModel)]="systemFlags.minTripDistance">
        </ion-input>
      </ion-item>
    </div>
    <ion-item no-padding>
      <ion-label position="floating">
        رقم الطلب السريع:
      </ion-label>
      <ion-input type="tel"
                 [(ngModel)]="systemFlags.fastOrderNumber">
      </ion-input>
    </ion-item>
    <ion-item lines="none"
              no-padding>
      <ion-label> تفعيل نظام الحجز</ion-label>
      <ion-toggle [(ngModel)]="systemFlags.isBookingEnabled"></ion-toggle>
    </ion-item>
    <ion-item lines="none"
              no-padding>
      <ion-label> تفعيل الكاش</ion-label>
      <ion-toggle [(ngModel)]="systemFlags.isCashEnabled"></ion-toggle>
    </ion-item>
    <ion-item lines="none"
              no-padding>
      <ion-label> تفعيل فورى</ion-label>
      <ion-toggle [(ngModel)]="systemFlags.isFwariEnabled"></ion-toggle>
    </ion-item>


    <ion-item-divider lines="none"
                      class="mt-3">
      <ion-label color="primary">
        إعدادات التعقب:
      </ion-label>
    </ion-item-divider>
    <ion-item no-padding>
      <ion-label position="floating">
        أقصى سرعة مسموحة:
      </ion-label>
      <ion-input type="number"
                 [(ngModel)]="systemFlags.maxAllowedSpeed">
      </ion-input>
    </ion-item>
  </ng-container>


  <ion-button color="danger"
              fill="clear"
              expand="full"
              class="my-7 mx-2"
              (click)="authService.logout()">
    <div class="w-100 d-flex justify-content-start align-items-center">
      <ion-icon slot="start"
                name="exit"></ion-icon>
      {{'setting.logOut' | translate}}
    </div>
  </ion-button>

  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button color="primary"
                    [disabled]="!didSettingsChange()"
                    (click)="saveNewFlags()">
      <ion-spinner *ngIf="isLoading"
                   color="white"></ion-spinner>
      <ion-icon *ngIf="!isLoading"
                name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>{{'setting.version' | translate}}: {{appVersionNumber}}</ion-title>
  </ion-toolbar>
</ion-footer>
