<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterDriverModal()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> {{ 'driver-management.title' | translate }} </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content color="light"
             no-padding>
  <ion-segment [(ngModel)]="currentTab"
               (ionChange)="tabChange($event.detail.value)"
               color="primary"
               class="pos-sticky bg-white">
    <ion-segment-button [value]="0"
                        class="text-muted font-weight-bold align-items-center">
      {{ 'driver-management.currentDrivers' | translate }}
    </ion-segment-button>
    <ion-segment-button [value]="1">
      <div class="d-flex flex-row align-items-center text-muted font-weight-bold">
        <span> {{ 'driver-management.newDrivers' | translate }}</span>
        <ion-badge *ngIf="newDriversList.newDrivers.length>0"
                   color="primary"
                   class="mx-1 pt-2">
          {{newDriversList.newDrivers.length}}
        </ion-badge>
      </div>
    </ion-segment-button>
  </ion-segment>


  <ion-slides (ionSlideDidChange)="tabChange()"
              #slider>

    <ion-slide>
      <app-current-drivers class="d-block w-100"
                           [driverFilter]="driverFilter"></app-current-drivers>
    </ion-slide>
    <ion-slide>
      <app-new-drivers class="d-block w-100"
                       #newDriversList></app-new-drivers>
    </ion-slide>
  </ion-slides>
</ion-content>
