<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button *ngIf="!!trip"
                  (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      تفاصيل الجراج
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"
             no-padding>

  <ion-segment *ngIf="!!!select"
               [(ngModel)]="currentTab"
               (ionChange)="tabChange($event.detail.value)"
               color="primary"
               class="pos-sticky bg-white">
    <ion-segment-button [value]="0">
      <ion-label class="text-muted font-weight-bold align-items-center">
        السيارات
      </ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="1">
      <ion-label class="text-muted font-weight-bold align-items-center">
        السائقين
      </ion-label>
    </ion-segment-button>

  </ion-segment>

  <ion-slides (ionSlideDidChange)="tabChange()"
              #slider>
    <ion-slide *ngIf="select != 'driver'">
      <ng-container *ngIf="!isCarsLoading && cars.length > 0;  else carsLoadingTemplate">
        <ion-list class="d-block w-100 p-2 pb-5 bg-transparent">
          <app-car-card *ngFor="let car of cars"
                        [car]="car"
                        (click)="selectCar(car)"></app-car-card>
        </ion-list>
      </ng-container>
      <ng-template #carsLoadingTemplate>
        <div class="d-flex h-100 justify-content-center pt-4">
          <ion-spinner *ngIf="isCarsLoading"></ion-spinner>
          <div *ngIf="!isCarsLoading && cars.length === 0">
            لا يوجد لديك سيارات في هذا الجراج.
          </div>
        </div>
      </ng-template>
    </ion-slide>

    <ion-slide *ngIf="select != 'car'">
      <ng-container *ngIf="!isDriversLoading && drivers.length > 0;  else driverLoadingTemplate">
        <ion-list class="d-block w-100 p-2 bg-transparent">
          <ng-container>
            <app-driver-card *ngFor="let driver of drivers"
                             [driver]="driver"
                             (selected)="selectDriver($event)"></app-driver-card>
          </ng-container>
        </ion-list>
      </ng-container>
      <ng-template #driverLoadingTemplate>
        <div class="d-flex h-100 justify-content-center pt-4">
          <ion-spinner *ngIf="isDriversLoading"></ion-spinner>
          <div *ngIf="!isDriversLoading && drivers.length === 0">
            لا يوجد لديك سائقين في هذا الجراج.
          </div>
        </div>
      </ng-template>
    </ion-slide>

  </ion-slides>


</ion-content>
