<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'complains.title'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"
             no-padding>
  <ng-container *ngIf="!isLoading && complains.length > 0;  else loadingTemplate">

    <ion-list class="d-block w-100 p-2 pb-5 bg-transparent">
      <ion-item-sliding *ngFor="let complain of complains "
                        #slidingItem
                        (click)="openComplainDetailsModal(complain)">
        <ion-item lines="none"
                  class="trip-item text-capitalize"
                  no-padding
                  button>
          <ion-label class="ws-normal py-2 m-0">
            <div class="row m-0">
              <div class="col-6 px-2">
                <span class="font-weight-bold">{{'complains.subject'| translate}} :</span>
                {{complain.subject}}
              </div>
              <div class="col- px-2">
                <span class="font-weight-bold">{{'complains.date'| translate}} :</span>
                {{complain.joiningDate | date:'d-M-yyyy'}}
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 px-2">
                <span class="font-weight-bold">{{'complains.sender'| translate}} :</span>
                {{complain.sender.fullName}}
              </div>
            </div>

            <!-- <div class="row m-0">
              <div class="col-4 px-2">
                <span class="font-weight-bold">{{'complains.name'| translate}} :</span>
                {{complain.sender.fullName}}
              </div>
              <div class="col-4 px-2">
                <span class="font-weight-bold">{{'complains.email'| translate}} :</span>
                {{complain.sender.email}}
              </div>
              <div class="col-4 px-2">
                <span class="font-weight-bold">{{'complains.phone'| translate}} :</span>
                {{complain.sender.phone}}
              </div>
            </div> -->
          </ion-label>
        </ion-item>
        <!-- <ion-item-options side="end">
          <ion-item-option color="transparent"
                           (click)="deleteCar(car); slidingItem.close()">
            <ion-icon slot="icon-only"
                      color="danger"
                      name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options> -->
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <div *ngIf="!isLoading && complains.length === 0">
        لا يوجد شكاوي او مقتراحات
      </div>
    </div>
  </ng-template>
</ion-content>
