<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'trip.tripDetails' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"
             nopadding>
  <ng-container *ngIf="!isLoading; else activeLoadingTemplate">
    <ion-card [style.background-image]="getStateParsedURL(trip?.pickupPlace.state)"
              class="place-card"
              button>
      <ion-card-content>
        <h2 class="d-flex align-items-center text-white text-capitalize">
          <ion-icon name="pin"
                    class="mx-1"></ion-icon>
          {{ 'trip.pickupFrom' | translate }}
        </h2>

        <h1 class="d-flex justify-content-center text-white text-capitalize">
          {{'governorates.'+trip.pickupPlace.state.toLowerCase() | translate}}
        </h1>
      </ion-card-content>
    </ion-card>
    <ion-card [style.background-image]="getStateParsedURL(trip?.dropPlace.state)"
              class="place-card"
              button>
      <ion-card-content>
        <h2 class="d-flex align-items-center text-white text-capitalize">
          <ion-icon name="pin"
                    class="mx-1"></ion-icon>
          {{ 'trip.dropIn' | translate }}
        </h2>

        <h1 class="d-flex justify-content-center text-white text-capitalize">
          {{'governorates.'+trip.dropPlace.state.toLowerCase() | translate}}
        </h1>
      </ion-card-content>
    </ion-card>

    <div class="row m-0 px-1">
      <div class="col-6 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="calendar"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{trip.pickupDateTime | date:'d-MMM-yyyy'}}
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-6 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="time"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{trip.pickupDateTime | date:'hh:mmaa'}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="analytics"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <div class="row m-0">
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-start">
                {{'booking.distance' | translate}}</div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="success">
                  {{(trip.distanceMatrix || trip.distanceMatrixEst).distance.value}} {{'booking.km' | translate}}
                </ion-badge>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-start">
                {{'booking.duration' | translate}}</div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="success">
                  {{(trip.distanceMatrix || trip.distanceMatrixEst).duration.value/60/60 | number:'.2'}}
                  {{'booking.h' | translate}}
                </ion-badge>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-start">
                {{'booking.initial-cost' | translate}}</div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="success">
                  {{(trip?.distanceMatrixEst?.price || trip?.pricing?.base || 0) | currency:' '}}
                  {{'currencies.egp' | translate}}
                </ion-badge>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-6 p-1">
        <ion-card class="m-0 h-100"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="logo-usd"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{ 'home.cash' | translate }}
          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="!!trip.car"
           class="col-6 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="car"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{trip.car.brand}} / {{trip.car.plateNumber}} /
            {{trip.car.color}}
            <i class="im icon-circle mx-1"
               [style.color]="trip.car.colorHex || trip.car.color"></i>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div *ngIf="!!trip.driver"
         class="row m-0">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content>
            <app-profile-header [user]="trip.driver"
                                [isConnectable]="true">
            </app-profile-header>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ng-container>

  <ng-template #activeLoadingTemplate>
    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="100"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="100"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="100"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="100"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="300"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="300"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="150"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="300"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="300"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="300"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="350"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="350"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </ng-template>

</ion-content>
