<ion-list no-padding>
  <ion-item lines="none">
    <ion-label class="font-weight-bold d-inline-flex align-items-center">{{ 'manage.score' | translate }}
    </ion-label>
    {{ (user?.balance || 0) | currency:' '}} جم
  </ion-item>
  <ion-item lines="none">
    <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
      {{ 'manage.type' | translate }}</ion-label>
    <ion-label class="text-muted font-weight-bold text-center">{{ 'manage.cost' | translate }}</ion-label>
    <ion-label class="text-muted font-weight-bold text-left ">تاربخ</ion-label>
  </ion-item>

  <ng-container *ngIf="!isTransactionsLoading && transactions.length > 0;  else transactionsLoadingTemplate">
    <ion-item *ngFor="let transaction of transactions"
              lines="none">
      <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
        {{ 'manage.' + transaction.type | translate }}</ion-label>
      <ion-label class="text-muted font-weight-bold text-center">
        {{transaction.amount}}
      </ion-label>
      <ion-label class="text-muted font-weight-bold text-left">
        {{transaction.dateTime | date:'d-M-yyyy'}}
      </ion-label>
    </ion-item>
  </ng-container>
  <ng-template #transactionsLoadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isTransactionsLoading"></ion-spinner>
      <div *ngIf="!isTransactionsLoading && transactions.length === 0">
        لا يوجد تعاملات متاحة.
      </div>
    </div>
  </ng-template>
</ion-list>
