<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"
                  slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar type="search"
                   placeholder="Search location"
                   [(ngModel)]="searchPlace.description"
                   [debounce]="1500"
                   (ionFocus)="isSearchFocused = true"
                   (ionBlur)="isSearchFocused = false"
                   (ionChange)="searchPlaces(searchPlace.description)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div id="map-canvas"
       class="d-flex align-items-center justify-content-center"
       #mapCanvas>
    <div class="search-wrapper">
      <ion-spinner *ngIf="isLoading"
                   class="mx-3 mt-3"
                   color="primary"></ion-spinner>
    </div>
    <ion-icon name="pin"
              color="primary"
              class="pick-icon pick-icon--idle d-flex"
              [ngClass]="{'pick-icon--idle': !isCameraMoving && !isPlacePicked}"></ion-icon>

    <div class="done-btn-wrapper w-100 px-3 mb-3">
      <ion-button expand="full"
                  [disabled]="searchPlace.description === '' || !!!searchPlace.place_id"
                  (click)="done()">Done</ion-button>
    </div>
  </div>

</ion-content>
