@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  src: local('El Messiri'), local('ElMessiri-Regular'),
    url(assets/fonts/ElMessiri/ElMessiri-Regular.woff2) format('woff2');
  unicode-range: 0x0006, 0xff06;
}
@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 600;
  src: local('El Messiri SemiBold'), local('ElMessiri-SemiBold'),
    url(assets/fonts/ElMessiri/ElMessiri-SemiBold.woff2) format('woff2');
  unicode-range: 0x0006, 0xff06;
}
@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  src: local('El Messiri Bold'), local('ElMessiri-Bold'),
    url(assets/fonts/ElMessiri/ElMessiri-Bold.woff2) format('woff2');
  unicode-range: 0x0006, 0xff06;
}
