<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> إرسال الإشعارات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <form [formGroup]="notificationForm"
        (ngSubmit)="notificationSubmit()">
    <ion-label>العنوان</ion-label>
    <ion-item lines="none"
              color="light"
              class="mb-4">
      <ion-textarea formControlName="title"
                    rows="1"
                    cols="1"
                    placeholder="عنوان الاشعار..."></ion-textarea>
    </ion-item>
    <ion-label>الموضوع</ion-label>
    <ion-item lines="none"
              color="light"
              class="mb-4">
      <ion-textarea formControlName="message"
                    rows="3"
                    cols="1"
                    placeholder="الموضوع..."></ion-textarea>
    </ion-item>

    <ion-item lines="none"
              (click)="openCurrentClientsModal()"
              routerDirection="forward">
      <ion-label class="d-inline-flex align-items-center justify-content-between">
        <div class="d-inline-flex flex-column">
          <div>
            <ion-icon name="person"
                      class="text-muted font-weight-bold mx-1"></ion-icon>
            <span class="text-muted font-weight-bold mx-1">العملاء:</span>
          </div>
          <ng-container *ngIf="getSelectedClientsCount() !== 0">
            <!-- <app-profile-header [user]="client"
                                size="small"></app-profile-header> -->
            عدد العملاء المختارين
            ({{getSelectedClientsCount()}})
          </ng-container>
        </div>

        <ng-container *ngIf="getSelectedClientsCount() === 0">
          أضغط لتحدد العميل.
        </ng-container>

        <ion-icon slot="icon-only"
                  color="medium"
                  name="create"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item lines="none"
              (click)="openCurrentDriversModal()"
              routerDirection="forward">
      <ion-label class="d-inline-flex align-items-center justify-content-between">
        <div class="d-inline-flex flex-column">
          <div>
            <ion-icon name="person"
                      class="text-muted font-weight-bold mx-1"></ion-icon>
            <span class="text-muted font-weight-bold mx-1">السائقين:</span>
          </div>
          <ng-container *ngIf="getSelectedDriversCount() !== 0">
            <!-- <app-profile-header [user]="client"
                      size="small"></app-profile-header> -->
            عدد السائقين المختارين
            ({{getSelectedDriversCount()}})
          </ng-container>
        </div>

        <ng-container *ngIf="getSelectedDriversCount() === 0">
          أضغط لتحدد السائق.
        </ng-container>

        <ion-icon slot="icon-only"
                  color="medium"
                  name="create"></ion-icon>
      </ion-label>
    </ion-item>

    <!-- <ion-item lines="full">
      <label class="text-muted font-weight-bold d-inline-flex align-items-center">
        <ion-checkbox class="mx-2"></ion-checkbox>
        تحديد الكل
      </label>
    </ion-item> -->

    <ion-item lines="none"
              class="my-4">
      <label class="text-muted font-weight-bold d-inline-flex align-items-center">
        <ion-checkbox class="mx-2"
                      formControlName="message"></ion-checkbox>
        الرسائل النصية
      </label>
    </ion-item>


    <ion-grid>
      <ion-row justify-content-center
               align-items-center>
        <ion-button type="submit"
                    [disabled]="isLoading">ارسال
          <ion-spinner *ngIf="isLoading"
                       class="mx-2"></ion-spinner>
        </ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
