<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start"> {{ 'home.title' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="transparent">
  <ion-fab vertical="center"
           horizontal="center"
           slot="fixed">
    <ion-fab-button class="go-btn"
                    routerLink="/home/login"
                    routerDirection="forward">
      {{ 'home.go' | translate }}
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="!isAuthorized"
           vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button color="tertiary"
                    routerLink="/home/login"
                    routerDirection="forward">
      <ion-icon name="log-in"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
