<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="p-0">
      <div class="client-profile-title"> {{ 'manage.client' | translate }} </div>
      <app-profile-header *ngIf="!!client"
                          [user]="client"> </app-profile-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-segment [(ngModel)]="currentTab"
               (ionChange)="tabChange($event.detail.value)"
               class="pos-sticky bg-white">

    <ion-segment-button [value]="0">
      <ion-label class="text-capitalize">
        {{ 'manage.info' | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="1">
      <ion-label class="text-capitalize">
        {{ 'manage.account' | translate }}
      </ion-label>
    </ion-segment-button>

  </ion-segment>

  <ion-slides (ionSlideDidChange)="tabChange()"
              #slider>

    <ion-slide class="flex-column">
      <ng-container *ngIf="!isLoading else loadingTemplate">
        <ion-list class="w-100 mb-5">
          <a href="tel:01111150151">
            <ion-item>
              <ion-icon name="call"
                        class="mx-2"></ion-icon>
              <ion-label text-muted>
                {{client.phone}}
              </ion-label>
            </ion-item>
          </a>
          <ion-item>
            <ion-icon name="pin"
                      class="mx-2"></ion-icon>
            <ion-label text-muted>
              {{client.state}}, {{client.country}}
            </ion-label>
          </ion-item>
          <a href="mailto:ahmedibrahim123@gmail.com">
            <ion-item>
              <ion-icon name="mail"
                        class="mx-2"></ion-icon>
              <ion-label text-muted>
                {{client.email}}
              </ion-label>
            </ion-item>
          </a>
        </ion-list>

        <ion-button *ngIf="!client.isBlocked"
                    color="danger"
                    fill="clear"
                    expand="full"
                    class="w-100"
                    (tap)="toggleBlock(true)"
                    [disabled]="isBlockLoading">
          <ion-spinner *ngIf="isBlockLoading"
                       class="mx-2"></ion-spinner>
          <div class="w-100 d-flex justify-content-start">
            <ion-icon class="mx-1"
                      slot="start"
                      name="close-circle-outline"></ion-icon>
            {{ 'manage.clientBlock' | translate }}
          </div>
        </ion-button>

        <ion-button *ngIf="client.isBlocked"
                    color="danger"
                    fill="clear"
                    expand="full"
                    class="w-100"
                    (tap)="toggleBlock(false)"
                    [disabled]="isBlockLoading">
          <ion-spinner *ngIf="isBlockLoading"
                       class="mx-2"></ion-spinner>
          <div class="w-100 d-flex justify-content-start">
            <ion-icon class="mx-1"
                      slot="start"
                      name="close-circle-outline"></ion-icon>
            {{ 'manage.unBlock' | translate }}
          </div>
        </ion-button>

        <ion-button color="dark"
                    expand="full"
                    fill="clear"
                    class="w-100"
                    [disabled]="isLoading"
                    (click)="submitForgotPassword()">
          <div class="w-100 d-flex justify-content-start">
            <ion-icon class="mx-1"
                      slot="start"
                      name="unlock"
                      [ngStyle]="{'color':'black'}"></ion-icon>
            {{ 'manage.password' | translate }}
          </div>
          <ion-spinner *ngIf="isLoading"
                       class="mx-2"></ion-spinner>
        </ion-button>
      </ng-container>

      <ng-template #loadingTemplate>
        <div class="d-flex h-100 justify-content-center pt-4">
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <div *ngIf="!isLoading">
            لا يوجد بيانات متاحة.
          </div>
        </div>
      </ng-template>
    </ion-slide>
    <ion-slide>
      <app-transaction [user]="client"
                       class="d-block w-100"
                       #transactionTable></app-transaction>

    </ion-slide>
  </ion-slides>
  <ion-fab *ngIf="currentTab === 1"
           vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button [disabled]="transactionTable.isPaymentLoading"
                    (click)="transactionTable.openPayUserPop()">
      <ion-spinner *ngIf="transactionTable.isPaymentLoading"
                   color="white"></ion-spinner>
      <ion-icon *ngIf="!isPaymentLoading"
                name="cash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
