<ng-template #menuTemplate>
  <ion-header *ngIf="isAuthorized"
              class="p-0 ion-menu__header"
              no-border>
    <ion-toolbar color="secondary"
                 no-padding>
      <app-profile-header [user]="user"></app-profile-header>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">

    <ion-list class="p-0 ion-menu__list">
      <ng-container *ngFor="let page of appPages">
        <ion-menu-toggle *ngIf="page.canActivate || isAuthorized"
                         auto-hide="false">
          <ion-item color="primary"
                    lines="none"
                    routerDirection="forward"
                    [routerLink]="page.url">
            <ion-icon color="white"
                      slot="start"
                      [name]="page.icon"></ion-icon>
            <ion-label class="ws-normal">
              {{page.title  | translate }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ng-container>
    </ion-list>
  </ion-content>
</ng-template>

<ion-app>
  <ion-split-pane>
    <!--The destruction then creation of the menu fixes the ltr & rtl problem without the need to change side-->
    <ng-container *ngIf="documentDir === 'ltr'">
      <ion-menu side="start">
        <ng-template [ngTemplateOutlet]="menuTemplate"></ng-template>
      </ion-menu>
    </ng-container>
    <ng-container *ngIf="documentDir === 'rtl'">
      <ion-menu side="start">
        <ng-template [ngTemplateOutlet]="menuTemplate"></ng-template>
      </ion-menu>
    </ng-container>

    <video src="/assets/layout-background.mp4"
           class="background-video"
           [muted]="true"
           (playing)="onVideoReady()"
           autoplay
           loop></video>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
