@import 'variables';

:host {
  app-profile-header {
    ::ng-deep {
      .user-header {
        &__container {
          align-items: flex-start;
          box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.65);
        }
      }
    }
  }
  ion-menu {
    z-index: 1;
    .ion-menu {
      ion-toolbar {
        --padding-bottom: 0;
        --padding-top: 0;
        --padding-start: 0;
        --padding-end: 0;
      }

      &__list {
        background: unset;

        ion-item,
        ion-icon {
          font-size: 1.3rem;
        }
      }
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .background-video {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000;
    animation: fadeIn 1s ease;
  }
  .custom-avatar {
    height: 5rem;
    width: 5rem;
    border: 1px solid #fff;
    border-radius: 50%;
  }
}
