<ion-content padding
             color="transparent">
  <ion-fab vertical="top"
           horizontal="start"
           slot="fixed">
    <ion-fab-button color="transparent"
                    class="back-btn"
                    routerLink="/../"
                    routerDirection="back">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- Email and password section -->
  <section class="d-flex justify-content-end flex-column">
    <div class="d-flex flex-column flex-shrink-0 mt-5">

      <form [formGroup]="loginForm"
            (submit)="submitLogin()">
        <div class="mt-5">
          <ion-item color="tinted">
            <ion-label position="floating">{{ 'login.email' | translate }}</ion-label>
            <ion-input type="email"
                       class="english-text text-center"
                       formControlName="email"></ion-input>
          </ion-item>


          <ion-item color="tinted">
            <ion-label position="floating">{{ 'login.password' | translate }}</ion-label>
            <ion-input type="password"
                       class="text-center"
                       formControlName="password"></ion-input>
          </ion-item>

          <ion-button expand="full"
                      class="mt-3"
                      type="submit"
                      [disabled]="isLoading">

            {{ 'login.login' | translate }}
            <ion-spinner *ngIf="isLoading"
                         class="mx-2"></ion-spinner>
          </ion-button>
          <ion-button expand="full"
                      color="white"
                      fill="clear"
                      class="forgot-pass-btn mt-3"
                      [disabled]="isLoading"
                      (tap)="openForgotPasswordModal()">
            {{ 'login.forgotPassword' | translate }}
            <ion-spinner *ngIf="isLoading"
                         class="mx-2"></ion-spinner>
          </ion-button>
        </div>
      </form>
    </div>

    <!-- Facebook and G-mail login section -->
    <div class="d-flex flex-column mt-5">
      <ion-button expand="full"
                  color="secondary"
                  routerLink="/home/sign-up"
                  routerDirection="forward">{{ 'login.signup' | translate }}</ion-button>
      <ion-button (click)="submitFacebookLogin()"
                  expand="full"
                  class="text-capitalize"
                  color="facebook"
                  [disabled]="isLoading">
        <ion-icon slot="start"
                  name="logo-facebook"></ion-icon>
        {{ 'login.facebookLogin' | translate }}
        <ion-spinner *ngIf="isLoading"
                     class="mx-2"></ion-spinner>
      </ion-button>
      <ion-button (click)="submitGoogleLogin()"
                  expand="full"
                  class="text-capitalize"
                  color="google"
                  [disabled]="isLoading">
        <ion-icon slot="start"
                  name="logo-googleplus"></ion-icon>
        {{ 'login.googleLogin' | translate }}
        <ion-spinner *ngIf="isLoading"
                     class="mx-2"></ion-spinner>
      </ion-button>
    </div>
  </section>

  <!-- End of Facebook and G-mail login section -->
</ion-content>
