@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon/icomoon.woff?hhg9b2') format('woff');
  font-weight: normal;
  font-style: normal;
}

i.im {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hash:before {
  content: "\e905";
}
.icon-circle:before {
  content: "\e903";
}
.icon-language:before {
  content: "\e904";
}
.icon-drivers:before {
  content: "\e906";
}
.icon-cars:before {
  content: "\e907";
}
.icon-clients:before {
  content: "\e908";
}
.icon-cars-tracking:before {
  content: "\e909";
}
.icon-car-sedan:before {
  content: "\e900";
  color: #c7c7c7;
}
.icon-car-suv:before {
  content: "\e901";
  color: #c7c7c7;
}
.icon-car-luxury:before {
  content: "\e902";
  color: #c7c7c7;
}