<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ 'home.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"
             no-padding>
  <ion-segment class="pb-1 pos-sticky"
               [(ngModel)]="currentTab"
               (ionChange)="tabChange($event.detail.value)">
    <ion-segment-button class="bg-white"
                        [value]="0">
      <ion-label class="text-capitalize">
        {{ 'overview.active' | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button class="bg-white"
                        [value]="1">
      <ion-label class="text-capitalize">
        {{ 'overview.next' | translate }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-slides (ionSlideDidChange)="tabChange()"
              #slider>
    <ion-slide>
      <div class="d-block w-100">
        <ng-container *ngIf="!isActiveLoading && !!activeTrip; else activeLoadingTemplate">
          <app-trip-details [trip]="activeTrip"
                            #tripPage></app-trip-details>
        </ng-container>
        <ng-template #activeLoadingTemplate>
          <div class="d-flex mt-5 justify-content-center align-items-center">
            <ion-spinner *ngIf="isActiveLoading"></ion-spinner>
            <div *ngIf="!isActiveLoading && !!!activeTrip">
              لا يوجد لديك رحلة فعالة.
            </div>
          </div>
        </ng-template>
      </div>
    </ion-slide>
    <ion-slide>
      <ng-container *ngIf="!isFutureLoading && futureTrips.length > 0; else futureLoadingTemplate">
        <div class="d-block w-100">
          <app-trip *ngFor="let trip of futureTrips"
                    [trip]="trip"
                    [routerLink]="'trip/' + trip.id"
                    routerDirection="forward"></app-trip>
        </div>
      </ng-container>

      <ng-template #futureLoadingTemplate>
        <div class="d-flex mt-5 justify-content-center align-items-center">
          <ion-spinner *ngIf="isFutureLoading"></ion-spinner>
          <div *ngIf="!isFutureLoading && futureTrips.length === 0">
            لا يوجد لديك رحلات قادمة.
          </div>
        </div>
      </ng-template>
    </ion-slide>
  </ion-slides>

  <ion-fab *ngIf="currentTab === 0 && !!activeTrip"
           vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button (tap)="tripPage.launchDynamicGoogleNavigator(activeTrip)">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
