<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>الإحصائيات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"
             padding>

  <ng-container>


    <section *ngIf="!isUsersStatsLoading">

      <div class="row">
        <div class="col-6">
          <header>عدد المستخدمين : {{userStats?.total}}</header>
        </div>
        <div slot="start"
             class="col-6">
          <ion-button (click)="this.loadCarStats();
          this.loadUserStats()"
                      class="d-flex justify-content-left">
            <ion-icon name="refresh"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div>
        <canvas baseChart
                chartType="doughnut"
                [datasets]="usersChartData"
                [labels]="usersChartLabels"
                [options]="chartOptions">
        </canvas>
      </div>
    </section>
    <div class="d-flex justify-content-center pt-4">
      <ion-spinner *ngIf="isUsersStatsLoading"></ion-spinner>
    </div>

    <section *ngIf="!isCarsStatsLoading">
      <header>عدد السيارات : {{carStats?.total}}</header>
      <div>
        <canvas baseChart
                chartType="doughnut"
                [datasets]="carsChartData"
                [labels]="carsChartLabels"
                [options]="chartOptions">
        </canvas>
      </div>
    </section>
    <div class="d-flex justify-content-center pt-4">
      <ion-spinner *ngIf="isCarsStatsLoading"></ion-spinner>
    </div>

  </ng-container>

</ion-content>
