:host {
  @keyframes pin-bounce {
    0%,
    100% {
      transform: translateY(-45%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateY(calc(-2.5px + -45%));
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateY(calc(2.5px + -45%));
    }
  }

  ion-searchbar {
    ::ng-deep {
      .searchbar-input {
        text-overflow: ellipsis;
        padding-right: 50px;
        padding-left: 50px;
      }
    }
  }

  #map-canvas {
    position: relative;
    height: 100%;
    min-width: 100px;
    min-height: 100px;

    .search-wrapper {
      position: absolute;
      top: 0;
      left: 0;
    }
    .done-btn-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;

      ion-button {
        height: 45px;
      }
    }

    .pick-icon {
      font-size: 2.5rem;
      transform: translateY(-45%);

      &--idle {
        animation-duration: 4s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-name: pin-bounce;
      }
    }
  }
}
