<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!!!trip"></ion-menu-button>
      <ion-button *ngIf="!!trip"
                  (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{'garages.title'| translate}} </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openFilterGarageModal() ">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">


  <ng-container *ngIf="!isLoading && garages.length > 0;  else loadingTemplate">
    <ion-list class="d-block w-100 p-2 bg-transparent">
      <ion-item-sliding *ngFor="let garage of garages"
                        #slidingItem>
        <ion-item-options side="start">
          <ion-item-option color="transparent"
                           (click)="openAddEditGarageModal(garage); slidingItem.close()">
            <ion-icon slot="icon-only"
                      color="primary"
                      name="create"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item class="ws-normal py-2 m-0"
                  lines="none"
                  class="trip-item text-capitalize"
                  (click)="selectGarage(garage)"
                  no-padding
                  button>
          <div class="row m-0">
            <div class="row m-0 w-100">
              <div class="col-6">
                <p> {{'garages.garage'| translate}} : {{garage.name}}</p>
              </div>
              <div class="col-6">
                <p> {{'garages.drivers'| translate}} : {{garage.drivers?.length || 0}}</p>
              </div>
            </div>
            <div class="row m-0  w-100">
              <div class="col-6">
                <p> {{'garages.address'| translate}} : {{garage.address}} </p>
              </div>
              <div class="col-6">
                <p> {{'garages.cars'| translate}} : {{garage.cars?.length || 0}} </p>
              </div>
            </div>
          </div>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="transparent"
                           (click)="deleteGarage(garage); slidingItem.close()">
            <ion-icon slot="icon-only"
                      color="danger"
                      name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>
  <ng-template #loadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <div *ngIf="!isLoading && garages.length === 0">
        لا يوجد جراجات متاحة.
      </div>
    </div>
  </ng-template>
  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button (click)="openAddGarageModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
