@import 'variables';

:host {
  .car-type-item {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    ion-button {
      height: 70px;
      width: 70px;
      --box-shadow: none;
    }
    i {
      font-size: 1.7rem;
    }

    &:after {
      position: absolute;
      left: 50%;
      bottom: 0px;
      width: 0;
      height: 1px;
      content: '';
      background: var(--ion-color-primary);
    }
    &,
    &:after {
      transition: all ease 150ms;
    }

    &--selected {
      transform: scale(1.08);
      color: var(--ion-color-primary);

      i {
        font-size: 2rem;
      }

      &:after {
        width: 100%;
        left: 0px;
      }
    }
  }

  .search-item {
    --inner-padding-end: 0;
    --inner-padding-start: 0;
  }
}
