<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "booking.bookYourRide" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true"
             (ionScrollStart)="fromPlaceSearch.onSearchBlur(); toPlaceSearch.onSearchBlur()"
             padding>
  <form [formGroup]="bookingForm"
        (submit)="requestRide()">

    <ion-list>
      <ion-list-header no-padding>
        <ion-label class="text-muted font-weight-bold">{{ "booking.car" | translate }}</ion-label>
      </ion-list-header>
      <ion-item no-padding>
        <div class="d-flex w-100 justify-content-between flex-wrap pb-3">
          <div *ngFor="let carType of carTypes"
               class="car-type-item"
               [ngClass]="{'car-type-item--selected': carType.type === bookingForm.get('carType').value}"
               (tap)="bookingForm.patchValue({carType: carType.type})">
            <ion-button fill="{{carType.type === bookingForm.get('carType').value?'solid':'clear'}}"
                        shape="round"
                        color="{{carType.type === bookingForm.get('carType').value?'light':'medium'}}">
              <i [class]="carType.icon"></i>
            </ion-button>
            <div class="{{carType.type === bookingForm.get('carType').value?'font-weight-bold':'text-muted'}}">
              {{'booking.'+carType.type | translate}}</div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="bookingForm.value.carType === 'Luxury'">
        <ion-label>{{ "booking.choose-car" | translate }}*</ion-label>
        <ion-select placeholder="Choose"
                    formControlName="types"
                    interface="action-sheet">
          <ion-select-option *ngFor="let car of cars"
                             [value]="car.id">
            {{car.brand}} - {{car.model}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-list-header no-padding>
        <ion-label class="text-muted font-weight-bold">{{ "booking.PickupDate&Time" | translate }}</ion-label>
      </ion-list-header>
      <ion-item [ngClass]="{'item--invalid': isSubmittedControllerInvalid('pickupDate')}"
                no-padding>
        <ion-label>{{ "booking.date" | translate }}</ion-label>
        <ion-datetime formControlName="pickupDate"
                      [displayFormat]="dateFormat"
                      [pickerFormat]="dateFormat"
                      placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item [ngClass]="{'item--invalid': isSubmittedControllerInvalid('pickupTime')}"
                no-padding>
        <ion-label>{{ "booking.time" | translate }}</ion-label>
        <ion-datetime formControlName="pickupTime"
                      [displayFormat]="timeDisplayFormat"
                      placeholder="Select Time"></ion-datetime>
      </ion-item>

      <ion-list-header no-padding>
        <ion-label class="text-muted font-weight-bold">
          {{ "booking.PickupFrom" | translate }}
        </ion-label>
      </ion-list-header>
      <ion-item class="search-item"
                [ngClass]="{'item--invalid': isSubmittedControllerInvalid('pickupPlace')}"
                no-padding>
        <app-place-search-select [value]="bookingForm.get('pickupPlace').value"
                                 (valueChange)="bookingForm.patchValue({pickupPlace: $event}); getTripEstimation()"
                                 #fromPlaceSearch>
        </app-place-search-select>
      </ion-item>
      <ion-list-header no-padding>
        <ion-label class="text-muted font-weight-bold">
          {{ "booking.dropIn" | translate }}
        </ion-label>
      </ion-list-header>
      <ion-item class="search-item"
                [ngClass]="{'item--invalid': isSubmittedControllerInvalid('dropPlace')}"
                no-padding>
        <app-place-search-select [value]="bookingForm.get('dropPlace').value"
                                 (valueChange)="bookingForm.patchValue({dropPlace: $event}); getTripEstimation()"
                                 #toPlaceSearch>
        </app-place-search-select>
      </ion-item>

      <ion-list-header no-padding>
        <ion-label class="text-muted font-weight-bold">{{ "booking.RideType" | translate }} </ion-label>
      </ion-list-header>
      <ion-item lines="none"
                no-padding>
        <ion-label>{{ "booking.TwoWay" | translate }}</ion-label>
        <ion-toggle formControlName="isTwoWay"></ion-toggle>
      </ion-item>
      <ion-item [hidden]="!bookingForm.get('isTwoWay').value"
                [ngClass]="{'item--invalid': bookingForm.value.stayingPeriodInHours < 1}"
                no-padding>
        <ion-label position="floating"
                   class="text-muted">{{ "booking.HowManyHoursAreYouGoingToStay" | translate }}</ion-label>
        <ion-input type="number"
                   formControlName="stayingPeriodInHours"></ion-input>
      </ion-item>

      <ion-item *ngIf="!!distanceMatrix"
                [ngClass]="{'item--invalid': distanceMatrix.distance.value < systemFlags.minTripDistance}"
                no-padding>
        <ion-label>
          <div class="row m-0">
            <div class="col-6 px-0">{{'booking.distance' | translate}}</div>
            <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
              <ion-badge color="success">{{distanceMatrix.distance.value}} {{'booking.km' | translate}}</ion-badge>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-6 px-0">{{'booking.duration' | translate}}</div>
            <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
              <ion-badge color="success">{{distanceMatrix.duration.value | time}}
              </ion-badge>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-6 px-0">{{'booking.initial-cost' | translate}}</div>
            <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
              <ion-badge color="medium">
                {{getTotalEstimation(bookingForm.get('isTwoWay').value, bookingForm.get('stayingPeriodInHours').value) | currency:' '}}
                {{'currencies.egp' | translate}}
              </ion-badge>
            </div>
          </div>
          <ng-container *ngIf="!!activePromo">
            <div class="row m-0">
              <div class="col-6 px-0">{{'booking.promo' | translate}}</div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="medium">
                  {{ activePromo.money | currency:' '}} {{'currencies.egp' | translate}} or
                  ({{activePromo.percentage}}%)
                </ion-badge>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-6 px-0">{{'booking.final_cost' | translate}}</div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="success">
                  {{getAppliedPromotion(getTotalEstimation(bookingForm.get('isTwoWay').value, bookingForm.get('stayingPeriodInHours').value), activePromo) | currency:' '}}
                  {{'currencies.egp' | translate}}
                </ion-badge>
              </div>
            </div>
          </ng-container>
        </ion-label>
      </ion-item>

      <ion-radio-group formControlName="paymentMethod">
        <ion-list-header no-padding>
          <ion-label class="text-muted font-weight-bold">{{ "booking.paymentMethod" | translate }}</ion-label>
        </ion-list-header>

        <ion-item [disabled]="!systemFlags?.isCashEnabled"
                  [ngClass]="{'item--invalid': systemFlags?.isCashEnabled && isSubmittedControllerInvalid('paymentMethod')}"
                  no-padding>
          <ion-label>{{ "booking.cash" | translate }}</ion-label>
          <ion-radio value="cash"></ion-radio>
        </ion-item>
        <ion-item [disabled]="!systemFlags?.isFwariEnabled"
                  [ngClass]="{'item--invalid': systemFlags?.isFwariEnabled && isSubmittedControllerInvalid('paymentMethod')}"
                  no-padding>
          <ion-label>{{ "booking.fawry" | translate }}</ion-label>
          <ion-radio value="fawry"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item *ngIf="bookingForm.invalid && bookingForm.touched || !isTripWithValidState()"
                lines="none"
                no-padding>
        <ion-label>
          <div *ngIf="bookingForm.invalid">
            {{ "booking.invalid-data" | translate }}
          </div>

          <div *ngIf="!isTripWithValidState()">
            {{ "booking.cairo-must-be-selected" | translate }}
          </div>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="bookingForm.controls.pickupDate.invalid || bookingForm.controls.pickupTime.invalid"
                no-padding>
        <ion-label class="ws-normal">
          {{("booking.fast-order-message" | translate).replace('{minTimeBeforeOrder}', systemFlags.minTimeBeforeOrder)}}
          <a [href]="'tel:' + systemFlags?.fastOrderNumber">{{"booking.call-safar-to-book" | translate}}</a>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- <ion-item lines="none">
      <ion-label>{{ "booking.cost" | translate }} </ion-label>
      <ng-container *ngIf="bookingForm.valid">
        <ion-badge color="success"
                   slot="end">{{500.00 | currency:' '}} EGP</ion-badge>
      </ng-container>
      <ng-container *ngIf="bookingForm.invalid">
        <ion-note slot="end">{{ "booking.fillAllDataToGetAnEstimation" | translate }}</ion-note>
      </ng-container>
    </ion-item> -->






    <ion-button type="submit"
                expand="full"
                class="mb-4 mx-2"
                [disabled]="isLoading">
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
      {{ "booking.RequestRide" | translate }}
    </ion-button>
  </form>
</ion-content>
