<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (tap)="openEditProfileModal()">
        <ion-icon slot="icon-only"
                  name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <app-profile-header [user]="user"></app-profile-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list no-padding>
    <ion-item no-padding>
      <ion-icon name="call"
                class="mx-2"></ion-icon>
      <ion-label text-muted>
        {{user.phone}}
      </ion-label>
    </ion-item>
    <ion-item no-padding>
      <ion-icon name="pin"
                class="mx-2"></ion-icon>
      <ion-label class="text-capitalize"
                 text-muted>
        {{user.country}}, {{user.state}}
      </ion-label>
    </ion-item>
    <ion-item no-padding>
      <ion-icon name="mail"
                class="mx-2"></ion-icon>
      <ion-label text-muted>
        {{user.email}}
      </ion-label>
    </ion-item>

    <ion-item no-padding>
      <ion-icon name="cash"
                class="mx-2"></ion-icon>
      <ion-label text-muted
                 class="h-100 d-inline-flex align-items-center">
        <ion-badge color="success"
                   slot="end">{{ user.balance || 0 | currency: ' ' }} {{'currencies.egp' | translate}}</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item class="mb-5"
              no-padding
              button>
      <ion-icon name="share-alt"
                class="mx-2"></ion-icon>
      <ion-label class="ws-normal"
                 text-muted>
        {{getInviteLink()}}
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button (click)="openRatingModal()">
      <ion-icon name="star"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
