<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only"
                  name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="user-header__container">
        <div class="user-header__avatar">
          <img class="avatar"
               src="/assets/profile-picture-sample.jpg" />
        </div>

        <div class="user-header__title">
          <div class="title__name">
            Ahmed Ibrahim
          </div>
          <div class="title__rating">
            <ion-icon class="mx-1"
                      name="star"></ion-icon>4.8
          </div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-item>
    <ion-icon name="call"
              class="mx-2"></ion-icon>
    <ion-label text-muted>
      <p>01111150151</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="pin"
              class="mx-2"></ion-icon>
    <ion-label class="ion__label"
               text-muted>
      <p>الزيتون, القليوبيه, محافظه القاهره</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="mail"
              class="mx-2"></ion-icon>
    <ion-label class="ion__label"
               text-muted>
      <p>ahmedibarhim@gmail.com</p>
    </ion-label>
  </ion-item>
  <ion-item class="mb-5"
            button>
    <ion-icon name="share-alt"
              class="mx-2"></ion-icon>
    <ion-label class="ion__label"
               text-muted>
      http://safariahmed.com/ahmedibrahim
    </ion-label>
  </ion-item>
</ion-content>
