<ion-header>
  <ion-toolbar color="primary">
    <ion-title>البحث</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input placeholder="البريد الإليكتروني"></ion-input>
    <ion-label position="floating"></ion-label>
  </ion-item>
  <ion-item>
    <ion-input placeholder="الإسم"></ion-input>
    <ion-label position="floating"></ion-label>
  </ion-item>
  <ion-item>
    <ion-input placeholder="العنوان "></ion-input>
    <ion-label position="floating"></ion-label>
  </ion-item>

  <ion-list-header>
    <ion-label class="text-muted font-weight-bold">التقييم :</ion-label>
  </ion-list-header>
  <ion-item>

    <ion-select no-padding
                class="w-50 "
                placeholder="من">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>

    </ion-select>
    <ion-select class="w-50"
                placeholder="الى">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-list-header>
    <ion-label class="text-muted font-weight-bold">المبلغ :</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-input placeholder="من"></ion-input>
    <ion-label></ion-label>
    <ion-input placeholder="الى"></ion-input>
    <ion-label></ion-label>
  </ion-item>
  <ion-list-header>
    <ion-label class="text-muted font-weight-bold">التاريخ :</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-datetime formControlName="pickupDate"
                  [displayFormat]="dateFormat"
                  placeholder="من"
                  [max]="maxPickupDate"></ion-datetime>

    <ion-datetime class="w-50 justify-content-start"
                  formControlName="pickupDate"
                  [displayFormat]="dateFormat"
                  placeholder="الى"
                  [max]="maxPickupDate"></ion-datetime>

  </ion-item>
  <ion-item>
    <ion-label>في رحله</ion-label>
    <ion-radio value="0"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>متاح</ion-label>
    <ion-radio value="1"></ion-radio>
  </ion-item>
  <button type="button"
          class="btn-primary">موافق</button>
</ion-content>
