<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="d-flex h-100 align-items-center">
        <ion-icon class="mx-1"
                  color="white"
                  name="calendar"></ion-icon>
        {{ "tripHistory.tripHistory" | translate }}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"
             no-padding>

  <ion-list class="d-block w-100 p-2 bg-transparent">
    <ng-container *ngIf="!isPastLoading && pastTrips.length > 0;  else loadingTemplate">
      <app-trip *ngFor="let trip of pastTrips"
                [trip]="trip"
                [routerLink]="'/trip/'+trip.id"
                routerDirection="forward">
      </app-trip>
      <app-trip *ngFor="let trip of pendingPastTrips"
                [trip]="trip"
                [routerLink]="'/trip/'+trip.id"
                routerDirection="forward">
      </app-trip>
    </ng-container>
    <ng-template #loadingTemplate>
      <div class="d-flex h-100 justify-content-center pt-4">
        <ion-spinner *ngIf="isPastLoading"></ion-spinner>
        <div *ngIf="!isPastLoading && pastTrips.length === 0">
          {{ "tripHistory.pastTrips" | translate }}
        </div>
      </div>
    </ng-template>
  </ion-list>


</ion-content>
