<ion-searchbar type="search"
               placeholder="Search location"
               [(ngModel)]="value.description"
               [debounce]="500"
               (ionFocus)="onSearchFocus()"
               (ionBlur)="onSearchBlur()"
               (ionChange)="searchPlaces(value.description)"
               no-padding></ion-searchbar>
<div class="text-center">
  <ion-spinner *ngIf="isTypingAhead && isLoading"
               color="primary"></ion-spinner>
</div>
<ion-list *ngIf="isTypingAhead"
          class="mt-2"
          no-padding>
  <ion-item *ngFor="let place of searchResults"
            (click)="selectPlace(place)">
    {{place.description}}
  </ion-item>
  <ion-item (click)="openPickOnMapModal()"
            button>
    <ion-icon name="pin"
              class="mx-2"></ion-icon>
    <ion-label>
      {{'place-search.select-on-map' | translate}}
    </ion-label>
  </ion-item>
</ion-list>
