<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (tap)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'login.resetPassword' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form *ngIf="!isRestMailSent"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="submitForgotPassword()">

    <ion-item>
      <ion-label position="floating">
        {{ 'login.email' | translate }}
      </ion-label>
      <ion-input type="email"
                 formControlName="email"></ion-input>
    </ion-item>

    <ion-button type="submit"
                expand="full"
                class="my-4 mx-2"
                [disabled]="isLoading">
      {{ 'login.send' | translate }}
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </form>

  <div *ngIf="isRestMailSent">
    <h4 class="text-center text-muted">
      {{ 'login.emailSent' | translate }}
    </h4>
  </div>
</ion-content>
