<ion-header>
  <ion-toolbar color="primary">
    <ng-container *ngIf="documentDir === 'ltr'">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ng-container>
    <ng-container *ngIf="documentDir === 'rtl'">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ng-container>

    <ion-title>
      <div class="d-flex h-100 align-items-center">
        <ion-icon class="mx-1"
                  color="white"
                  name="settings"></ion-icon>
        {{'settings.title' | translate}}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label class="text-muted font-weight-bold">
        <i class="im icon-language"></i>
        {{'settings.language' | translate}}
      </ion-label>
    </ion-list-header>

    <ion-radio-group [ngModel]="selectedLocalization?.lang"
                     (ionChange)="changeLanguage($event.detail.value)">
      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio value="en"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>العربية</ion-label>
        <ion-radio value="ar"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button *ngIf="isAuthorized"
              color="danger"
              fill="clear"
              expand="full"
              class="my-4 mx-2"
              (tap)="authService.logout()">
    <div class="w-100 d-flex justify-content-start">
      <ion-icon slot="start"
                name="exit"></ion-icon>
      {{'settings.logout' | translate}}
    </div>
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>{{'settings.version' | translate}}: {{appVersionNumber}}</ion-title>
  </ion-toolbar>
</ion-footer>
