<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>البحث عن سيارة</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form [formGroup]="filterCarForm"
        (ngSubmit)="submitFilterCar()">


    <ion-item>
      <ion-label position="floating">
        البحث
      </ion-label>
      <ion-input type="text"
                 formControlName="query"></ion-input>
    </ion-item>
    <!--
    <ion-item>
      <ion-label position="floating">
        الموديل
      </ion-label>
      <ion-input type="text"
                 formControlName="model"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        اللون
      </ion-label>
      <ion-input type="text"
                 formControlName="color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        رقم اللوحة
      </ion-label>
      <ion-input type="text"
                 formControlName="plateNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        الفئة
      </ion-label>
      <ion-select placeholder="Choose"
                  formControlName="type"
                  interface="action-sheet">
        <ion-select-option [value]="CarTypeEnum.SUV">
          {{CarTypeEnum.SUV}}
        </ion-select-option>
        <ion-select-option [value]="CarTypeEnum.SEDAN">
          {{CarTypeEnum.SEDAN}}
        </ion-select-option>
        <ion-select-option [value]="CarTypeEnum.LUXURY">
          {{CarTypeEnum.LUXURY}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        الحالة
      </ion-label>
      <ion-select placeholder="Choose"
                  formControlName="status"
                  interface="action-sheet">
        <ion-select-option [value]="CarStatusEnum.GARAGE">
          فالجراج
        </ion-select-option>
        <ion-select-option [value]="CarStatusEnum.MAINTENANCE">
          فالصيانة
        </ion-select-option>
        <ion-select-option [value]="CarStatusEnum.TRIP">
          فالرحلة
        </ion-select-option>
      </ion-select>
    </ion-item> -->

    <ion-button type="submit"
                expand="full"
                class="my-4 mx-2"
                [disabled]="isLoading">
      ابحث
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
