<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf=(!!garage)>تعديل جراج</ion-title>
    <ion-title *ngIf=(!!!garage)>اضافة جراج</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="addGarageForm"
        (ngSubmit)="submitAddGarage()">


    <ion-item>
      <ion-label position="floating">
        جراج *
      </ion-label>
      <ion-input type="text"
                 formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        العنوان *
      </ion-label>
      <ion-input type="text"
                 formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        الهاتف *
      </ion-label>
      <ion-input type="tel"
                 formControlName="phone"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">ملاحظات</ion-label>
      <ion-textarea rows="3"
                    cols="1"
                    formControlName="notes"
                    placeholder="..."></ion-textarea>
    </ion-item>


    <ion-button type="submit"
                expand="full"
                class="my-4 mx-2"
                [disabled]="isLoading">
      <ion-label *ngIf=(!!garage)>عدل</ion-label>
      <ion-label *ngIf=(!!!garage)>اضف</ion-label>
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
