<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <div class="d-flex h-100 align-items-center">
        <ion-icon class="mx-1"
                  color="white"
                  name="card"></ion-icon> {{ 'addCard.newCard' | translate }}
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (tap)="close()">
        <ion-icon slot="icon-only"
                  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">{{ 'addCard.cardNumber' | translate }}</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label class="text-muted font-weight-bold">{{ 'addCard.expiryDate' | translate }}</ion-label>
    </ion-list-header>

    <div class="d-flex w-100">
      <ion-item class="d-inline-flex">
        <ion-label>{{ 'addCard.yy' | translate }}</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <span class="d-inline-flex align-items-center">/</span>
      <ion-item class="d-inline-flex">
        <ion-label>{{ 'addCard.mm' | translate }}</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-label position="floating">{{ 'addCard.cvv' | translate }}</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button type="submit"
              expand="full"
              class="mb-4">{{ 'addCard.add' | translate }}</ion-button>
</ion-content>
