<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      تعقب السائقين
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div id="map-canvas"
       class="d-flex align-items-end"
       #mapCanvas>
    <div class="search-wrapper">
      <ion-spinner *ngIf="isLoading"
                   class="mx-3 mt-3"
                   color="primary"></ion-spinner>
    </div>
  </div>

</ion-content>
