<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>البحث عن سيارة</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form [formGroup]="filterClientForm"
        (ngSubmit)="submitFilterClient()">


    <ion-item>
      <ion-label position="floating">
        الاسم
      </ion-label>
      <ion-input type="text"
                 formControlName="fullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        الهاتف
      </ion-label>
      <ion-input type="text"
                 formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        الايميل
      </ion-label>
      <ion-input type="text"
                 formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        التصنيف
      </ion-label>
      <ion-select placeholder="Choose"
                  formControlName="rate"
                  interface="action-sheet">
        <ion-select-option [value]="1">
          1
        </ion-select-option>
        <ion-select-option [value]="2">
          2
        </ion-select-option>
        <ion-select-option [value]="3">
          3
        </ion-select-option>
        <ion-select-option [value]="4">
          4
        </ion-select-option>
        <ion-select-option [value]="5">
          5
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      في رحلة
      <ion-label>
        <ion-checkbox class="mx-3"
                      formControlName="inTrip">
        </ion-checkbox>
      </ion-label>
    </ion-item> -->




    <ion-button type="submit"
                expand="full"
                class="my-4 mx-2"
                [disabled]="isLoading">
      ابحث
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
