<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'tripdetails.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"
             no-padding>
  <ng-container *ngIf="!isLoading;  else loadingTemplate">

    <div class="row m-0">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content>
            <app-profile-header [user]="trip.client"
                                [isConnectable]="true">
            </app-profile-header>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-content class="p-2">
            <ion-item lines="none">
              <ion-label position="floating"> {{ 'tripdetails.select-status' | translate }}</ion-label>
              <ion-select interface="action-sheet"
                          [(ngModel)]="trip.driverStatus">
                <ion-select-option [value]="driverTripStatusEnum.QUEUED"
                                   [disabled]="true">
                  {{ 'tripdetails.statuses.' + driverTripStatusEnum.QUEUED | translate }}
                </ion-select-option>
                <ion-select-option [value]="driverTripStatusEnum.MEETING_CLIENT">
                  {{ 'tripdetails.statuses.' + driverTripStatusEnum.MEETING_CLIENT | translate }}
                </ion-select-option>
                <ion-select-option [value]="driverTripStatusEnum.PICKING_CLIENT">
                  {{ 'tripdetails.statuses.' + driverTripStatusEnum.PICKING_CLIENT | translate }}
                </ion-select-option>
                <ion-select-option [value]="driverTripStatusEnum.STARTED">
                  {{ 'tripdetails.statuses.' + driverTripStatusEnum.STARTED | translate }}
                </ion-select-option>
                <ion-select-option [value]="driverTripStatusEnum.RETURNING">
                  {{ 'tripdetails.statuses.' + driverTripStatusEnum.RETURNING | translate }}
                </ion-select-option>
                <ion-select-option [value]="driverTripStatusEnum.FINISHED">
                  {{ 'tripdetails.statuses.' + driverTripStatusEnum.FINISHED | translate }}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <ion-card [style.background-image]="getStateParsedURL(trip?.pickupPlace.state)"
              class="place-card"
              (click)="launchGoogleNavigator(trip.pickupPlace.description)"
              button>
      <ion-card-content>
        <h2 class="d-flex align-items-center text-white text-capitalize">
          <ion-icon name="pin"
                    class="mx-1"></ion-icon>
          {{ 'tripdetails.pickupFrom' | translate }}:
        </h2>

        <h1 class="d-flex justify-content-center text-white text-capitalize">
          {{'governorates.'+  trip.pickupPlace.state.toLowerCase() | translate}}
        </h1>
      </ion-card-content>
    </ion-card>
    <ion-card [style.background-image]="getStateParsedURL(trip?.dropPlace.state)"
              class="place-card"
              (click)="launchGoogleNavigator(trip.dropPlace.description)"
              button>
      <ion-card-content>
        <h2 class="d-flex align-items-center text-white text-capitalize">
          <ion-icon name="pin"
                    class="mx-1"></ion-icon>
          {{ 'tripdetails.dropIn' | translate }}:
        </h2>

        <h1 class="d-flex justify-content-center text-white text-capitalize">
          {{'governorates.'+  trip.dropPlace.state.toLowerCase() | translate}}
        </h1>
      </ion-card-content>
    </ion-card>

    <div class="row m-0 px-1">
      <div class="col-6 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="calendar"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{trip?.pickupDateTime | date:'d-M-yyyy'}}
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-6 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="time"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{trip?.pickupDateTime | date:'hh:mm aa'}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="analytics"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <div class="row m-0">
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-start">
                المسافة:</div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="success">
                  {{trip.distanceMatrix?.distance.value}} كم
                </ion-badge>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-start">
                المدة:</div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="success">
                  {{trip.distanceMatrix?.duration.value/60/60 | number:'.2'}}
                  ساعة
                </ion-badge>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-1">
        <ion-card class="m-0 h-100"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="logo-usd"
                      class="mx-1"
                      color="primary"></ion-icon>
          </ion-card-header>
          <ion-card-content class="text-capitalize">
            {{'tripdetails.' + trip.paymentMethod | translate}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-6 p-1">
        <ion-card class="m-0 h-100"
                  color="white">
          <ion-card-content>
            <ion-item *ngIf="!!trip.promo"
                      class="no-padding-item"
                      lines="none">
              <ion-label class="ws-normal w-100 text-muted font-weight-bold d-inline-flex align-items-center py-2">
                برومو
                {{ trip.promo.money | currency:' '}}
                أو
                ({{trip.promo.percentage}}%)
              </ion-label>
            </ion-item>
            <ion-item class="no-padding-item"
                      lines="none">
              <ion-label position="floating"
                         class="ws-normal w-100 text-muted font-weight-bold d-inline-flex align-items-center py-2">

                السعر (بالجنيه المصرى) :
              </ion-label>
              <ion-input underline
                         *ngIf="!isPriceBaseLoading"
                         type="number"
                         class="text-center english-text"
                         [(ngModel)]="trip.pricing.beforePromo"
                         [disabled]="trip.status === 'current' || trip.status === 'past'"></ion-input>
              <ion-spinner *ngIf="isPriceBaseLoading"></ion-spinner>
            </ion-item>
            <ion-item *ngIf="!!trip.promo"
                      class="no-padding-item"
                      lines="none">
              <ion-label class="ws-normal w-100 text-muted font-weight-bold d-inline-flex flex-column py-2">
                <div>بعد الخصم:</div>
                <div>{{getAppliedPromotion(trip.pricing.beforePromo, trip.promo)}}</div>
              </ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-6 p-1">
        <ion-card class="m-0 h-100"
                  color="white">
          <ion-card-content>

            <ion-item class="no-padding-item"
                      lines="none">
              <ion-label position="floating"
                         class="ws-normal w-100 text-muted font-weight-bold d-inline-flex align-items-center py-2">

                أجر السائق (بالجنيه المصرى) :
              </ion-label>
              <ion-input *ngIf="!isPriceSalaryLoading"
                         type="number"
                         class="text-center english-text"
                         [(ngModel)]="trip.pricing.driverSalary"
                         [disabled]="trip.status === 'current' || trip.status === 'past'"></ion-input>
              <ion-spinner *ngIf="isPriceSalaryLoading"></ion-spinner>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div *ngIf="!!trip.pricing.actualExtra"
         class="row m-0 px-1">
      <div class="col-12 p-1">
        <ion-card class="m-0"
                  color="white">
          <ion-card-header class="text-muted">
            <ion-icon name="cash"
                      class="mx-1"
                      color="primary"></ion-icon> +
          </ion-card-header>
          <ion-card-content>
            <div class="row m-0">
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-start">
                تم تحصيل:
              </div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="success">
                  {{trip.pricing.beforePromo}} جم
                </ion-badge>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-start">
                تكلفة مسافة أضافية:
              </div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="success">
                  {{trip.pricing.actualExtra}} جم
                </ion-badge>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-start">
                دفع للسائق:
              </div>
              <div class="col-6 px-0 d-inline-flex align-items-center justify-content-end">
                <ion-badge color="success">
                  {{trip.pricing.collectedExtra || 0}} جم
                </ion-badge>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <ng-container *ngIf="trip.status !== 'current' && trip.status !== 'past'">
      <div class="row m-0 px-1">
        <div class="col-12 p-1">
          <ion-card class="m-0 h-100"
                    color="white"
                    (click)="selectCarFromGarage()"
                    button>
            <ion-card-content class="d-inline-flex align-items-center justify-content-between w-100 p-2">

              <div class="d-inline-flex flex-column w-100">
                <div class="d-flex">
                  <ion-icon name="car"
                            class="small-icon text-muted font-weight-bold mx-1"></ion-icon>
                  <span class="text-muted font-weight-bold mx-1">السيارة:</span>

                  (<i [class]="'text-muted font-weight-bold mx-1 im icon-car-'+trip.carType.toLowerCase()">
                  </i>
                  <span class="text-capitalize">
                    {{trip.carType}}
                  </span>)
                </div>

                <app-car-card *ngIf="!!trip.car"
                              [car]="trip.car"
                              class="d-block"></app-car-card>
                <div *ngIf="!!!trip.car"
                     class="d-flex">أضغط لتحدد سيارة.</div>
              </div>



              <ion-button class="d-inline-flex"
                          fill="clear"
                          color="medium">
                <ion-icon slot="icon-only"
                          class="small-icon"
                          name="create"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div class="row m-0 px-1">
        <div class="col-12 p-1">
          <ion-card class="m-0 h-100"
                    color="white"
                    (click)="selectDriverFromGarage()"
                    button>
            <ion-card-content class="d-flex flex-column align-items-center justify-content-between p-2">

              <div class="w-100">
                <ion-icon name="person"
                          class="small-icon text-muted font-weight-bold mx-1"></ion-icon>
                <span class="text-muted font-weight-bold mx-1">السائق:</span>
              </div>
              <div class="d-flex flex-row w-100">
                <div class="d-inline-flex flex-column w-100">
                  <app-driver-card *ngIf="!!trip.driver"
                                   [driver]="trip.driver"
                                   [shortend]="true"
                                   class="d-block"></app-driver-card>

                </div>
                <ng-container *ngIf="!!!trip.driver">
                  أضغط لتحدد سائق.
                </ng-container>

                <div class="d-inline-flex flex-column">
                  <ion-button fill="clear"
                              color="medium">
                    <ion-icon slot="icon-only"
                              class="small-icon"
                              name="create"></ion-icon>
                  </ion-button>

                  <ion-button *ngIf="!!trip.driver"
                              fill="clear"
                              color="danger"
                              (click)="$event.stopPropagation(); clearDriver()">
                    <ion-icon slot="icon-only"
                              class="small-icon"
                              name="close"></ion-icon>
                  </ion-button>
                </div>
              </div>

              <ion-button color="primary"
                          fill="clear"
                          expand="full"
                          class="w-100"
                          [disabled]="isDriversRequestLoading"
                          (click)="openDriverManagementModal();$event.stopPropagation();">
                <div class="w-100 d-flex justify-content-start align-items-center">
                  <ion-icon slot="start"
                            name="paper-plane"
                            class="mx-2 small-icon"></ion-icon>
                  إرسال طلب للسائقين
                  <ion-spinner *ngIf="isDriversRequestLoading"
                               class="mx-2">
                  </ion-spinner>
                </div>
              </ion-button>
              <div *ngIf="!!trip?.driversRequest?.sentOnDateTime"
                   class="px-1 w-100">
                <div>تم إرسال آخر طلب بتاريخ:</div>
                {{trip.driversRequest.sentOnDateTime | date:'d-M-yyyy hh:mm aa'}}
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="trip.status === 'current' || trip.status === 'past'">
      <div class="row m-0 px-1">
        <div class="col-12 p-1">
          <ion-card class="m-0 h-100"
                    color="white"
                    button>
            <ion-card-content class="d-inline-flex align-items-center justify-content-between p-2">

              <div class="d-inline-flex flex-column w-100">
                <div>
                  <ion-icon name="car"
                            class="small-icon text-muted font-weight-bold mx-1"></ion-icon>
                  <span class="text-muted font-weight-bold mx-1">السيارة:</span>

                  (<i [class]="'text-muted font-weight-bold mx-1 im icon-car-'+trip.carType.toLowerCase()">
                  </i>
                  <span class="text-capitalize">
                    {{trip.carType}}
                  </span>)
                </div>

                <app-car-card *ngIf="!!trip.car"
                              [car]="trip.car"
                              class="d-block"></app-car-card>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div class="row m-0 px-1">
        <div class="col-12 p-1">
          <ion-card class="m-0 h-100"
                    color="white"
                    button>
            <ion-card-content class="p-2">
              <app-profile-header [user]="trip.driver"
                                  [isConnectable]="true">
              </app-profile-header>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ng-container>

    <ion-button *ngIf="trip.status !== 'past'"
                type="submit"
                expand="full"
                class="my-4 mx-2"
                [disabled]="isInfoUpdateLoading"
                (click)="updateTripInfo()">
      <ion-icon name="save"
                class="mx-2"></ion-icon>
      حدث معلومات الرحلة
      <ion-spinner *ngIf="isInfoUpdateLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </ng-container>

  <ng-template #loadingTemplate>

    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="330"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="330"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>


    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="96"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="96"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="287"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="287"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="287"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="287"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="110"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="110"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>


    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="110"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="110"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="150"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="150"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="130"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="130"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="287"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="287"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col-6 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="287"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     width="1000"
                     height="287"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="130"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="130"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row m-0 px-1">
      <div class="col-12 p-0">
        <ion-card class="m-1"
                  color="white">
          <ion-card-content class="p-0">
            <ngx-content-loading [speed]="'1s'"
                                 [height]="400"
                                 primaryColor="#ffffff">
              <svg:g ngx-rect
                     [width]="1000"
                     [height]="400"></svg:g>
            </ngx-content-loading>
          </ion-card-content>
        </ion-card>
      </div>
    </div>


  </ng-template>

</ion-content>
