<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="d-flex h-100 align-items-center">
        <ion-icon class="mx-1"
                  color="white"
                  name="cash"></ion-icon>
        أسعار الرحلات
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ng-container *ngIf="!isLoading;  else loadingTemplate">

    <ion-list-header>
      <ion-label class="text-muted font-weight-bold row w-100">
        <div class="col-4 px-1 text-center"></div>
        <div class="col-8 px-1 text-center">القاهرة</div>
      </ion-label>
    </ion-list-header>
    <ion-list-header class="border-bottom">
      <ion-label class="text-muted font-weight-bold row w-100">
        <div class="col-4 px-1 text-center"></div>
        <div class="col-4 px-1 text-center">الي</div>
        <div class="col-4 px-1 text-center">من</div>
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let statePrice of ObjectKeys(priceList)">
      <ion-label>
        <div class="row w-100">
          <div
               class="col-4 px-1 pt-1 d-inline-flex align-items-center justify-content-center flex-column text-muted font-weight-bold">
            <span>{{ 'governorates.'+statePrice | translate}}</span>
          </div>
          <div class="col-8">
          </div>
        </div>
        <div class="row w-100">
          <div class="col-4 px-1 py-2 d-inline-flex align-items-center justify-content-between flex-column text-muted">
            <span>أجر السائق</span>
          </div>
          <div class="col-4 px-1 text-center english-text">
            <ion-input [(ngModel)]="priceList[statePrice].toDriverSalary"
                       type="number"
                       placeholder="0.00"></ion-input>
          </div>
          <div class="col-4 px-1 text-center english-text">
            <ion-input [(ngModel)]="priceList[statePrice].fromDriverSalary"
                       type="number"
                       placeholder="0.00"></ion-input>
          </div>
        </div>
      </ion-label>

    </ion-item>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>
  </ng-template>

  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button color="primary"
                    [disabled]="isUpdatePricesLoading || !hasPricesChanged()"
                    (click)="updatePrices()">
      <ion-spinner *ngIf="isUpdatePricesLoading"
                   color="white"></ion-spinner>
      <ion-icon *ngIf="!isUpdatePricesLoading"
                name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
