:host {
  ion-item {
    --inner-padding-start: 0;
    --inner-padding-end: 0;

    ion-label {
      width: 100%;
      height: 100%;
      max-width: unset;
      pointer-events: initial;
      margin: 0;
    }

    ion-input {
      text-align: center;
      background-color: var(--ion-color-light);
      border: solid 1px var(--ion-color-white);
    }
  }
}
