<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      إنهاء الرحلة
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-list-header *ngIf="actualPayment > 0">
      <ion-label class="text-muted font-weight-bold">
        لقد طالت الرحلة عما كان مخطط لها.
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>
        تم دفع:
        {{trip.distanceMatrix.distance.value}}
        كم
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        تم التنقل لـ:
        {{trip.route[trip.route.length-1].distanceMovedInKm}}
        كم
      </ion-label>
    </ion-item>
    <ion-item lines="full"
              class="payment-item">
      <ion-label *ngIf="actualPayment > 0"
                 color="primary"
                 class="text-center">
        يرجى تحصيل:
        <span *ngIf="!isCostsLoading">
          {{getExtraCosts()}}
        </span>
        <ion-spinner *ngIf="isCostsLoading"
                     class="mx-2"></ion-spinner>
        جم
      </ion-label>

      <ion-label *ngIf="actualPayment === 0"
                 color="success"
                 class="text-center">
        لا يوجد أى تكاليف أضافية.
      </ion-label>
    </ion-item>
  </ion-list>



  <div *ngIf="actualPayment > 0"
       class="row">
    <div class="col-6 px-1 d-inline-flex align-items-center">
      <ion-button expand="full"
                  class="w-100"
                  [disabled]="isLoading"
                  (press)="submitExtraPayment()">
        تم تحصيل:
        <ion-spinner *ngIf="isLoading"
                     class="mx-2"></ion-spinner>
      </ion-button>
    </div>
    <div class="col-6 px-1">
      <ion-item no-padding>
        <ion-label position="floating"
                   class="text-muted">
          بالجنيه المصرى
        </ion-label>
        <ion-input type="number"
                   [(ngModel)]="actualPayment"></ion-input>
      </ion-item>
    </div>
  </div>

  <ion-button *ngIf="actualPayment === 0"
              expand="full"
              class="w-100"
              color="success"
              [disabled]="isLoading"
              (press)="submitExtraPayment()">
    تأكيد
    <ion-spinner *ngIf="isLoading"
                 class="mx-2"></ion-spinner>
  </ion-button>

  <div class="text-muted text-center mt-3">
    أضغط ضغطة طويلة للتأكيد
  </div>

</ion-content>
