<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (tap)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "profile.update-info" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="editProfileForm"
        (ngSubmit)="submitEditProfile()">

    <div class="mt-5 text-center">
      <ion-button class="camera-btn mb-3"
                  [ngClass]="{ 'camera-btn--has-photo': !!editProfileForm.value.pictureURL}"
                  shape="round"
                  color="dark"
                  (click)="pickProfilePhoto()">
        <div class="camera-btn__content">
          <img *ngIf="!!editProfileForm.value.pictureURL"
               [src]="editProfileForm.value.pictureURL" />
          <ion-icon name="camera"></ion-icon>
        </div>
      </ion-button>
    </div>


    <ion-item>
      <ion-label position="floating">
        {{ "profile.name" | translate }} *
      </ion-label>
      <ion-input type="text"
                 formControlName="fullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        {{ "profile.phone" | translate }} *
      </ion-label>
      <ion-input type="tel"
                 formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        {{ "signup.government" | translate }} *
      </ion-label>
      <ion-select placeholder="Choose"
                  interface="action-sheet"
                  formControlName="state">
        <ion-select-option *ngFor="let state of states"
                           [value]="state">
          {{ "governorates."+state.toLowerCase() | translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        {{ "signup.address" | translate }} *
      </ion-label>
      <ion-input type="text"
                 formControlName="address"></ion-input>
    </ion-item>


    <ion-button type="submit"
                expand="full"
                class="my-4 mx-2"
                [disabled]="isLoading">
      <ion-label>{{ "profile.update" | translate }}</ion-label>
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
