<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'login.login' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <section class="d-flex justify-content-end flex-column">
    <div class="d-flex flex-column flex-shrink-0 mt-5">
      <form [formGroup]="loginForm"
            (ngSubmit)="submitLogin()">
        <div class="mt-5">
          <ion-item>
            <ion-label position="floating">
              {{ 'login.email' | translate }}
            </ion-label>
            <ion-input type="email"
                       class="english-text text-center"
                       formControlName="email"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">
              {{ 'login.password' | translate }}
            </ion-label>
            <ion-input type="password"
                       class="text-center"
                       formControlName="password"></ion-input>
          </ion-item>

          <ion-button expand="full"
                      class="mt-3"
                      type="submit"
                      [disabled]="isLoading">
            <ion-spinner *ngIf="isLoading"
                         class="mx-2"></ion-spinner>
            {{ 'login.login' | translate }}

          </ion-button>
        </div>
      </form>
    </div>
  </section>
</ion-content>
