<div class="user-header__container"
     [ngClass]="{'user-header__container--small': size === 'small'}">
  <div class="user-header__avatar">
    <img class="avatar"
         [src]="user?.pictureURL || avatarPlaceHolder"
         (error)="avatarLoadError()" />
  </div>

  <div class="user-header__title">
    <div class="title__name">
      {{user?.fullName}}
    </div>
    <div *ngIf="!!user && !!user.rate"
         class="title__rating">
      <ion-icon class="mx-1"
                name="star"></ion-icon>
      <div>{{user?.rate}}</div>
    </div>
  </div>
</div>
<ion-toolbar *ngIf="isConnectable"
             no-padding>
  <a [href]="'tel:' + user.phone">
    <ion-button color="primary"
                fill="clear"
                class="contact-btn">
      <ion-icon name="call"></ion-icon>
    </ion-button>
  </a>
  <a [href]="sanitizer.bypassSecurityTrustUrl('sms:' + user.phone)">
    <ion-button color="primary"
                fill="clear"
                class="contact-btn">
      <ion-icon name="text"></ion-icon>
    </ion-button>
  </a>
</ion-toolbar>
