:host {
  .user-header {
    &__container {
      height: calc(180px + 2rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;
      padding-bottom: 1rem;
      margin: -0.5rem;
      margin-bottom: 0;

      & > * {
        display: flex;
      }
    }
    &__avatar {
      border: solid 3px var(--ion-color-primary);
      border-radius: 50%;
      height: 85px;
      width: 85px;
      overflow: hidden;
    }
    &__title {
      flex-direction: column;
      justify-content: center;

      .title {
        &__name {
          font-size: 1.4rem;
          width: 100%;
          text-transform: capitalize;
        }
        &__rating {
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 1rem;
          ion-icon {
            font-size: 1.2rem;
          }
          div {
            height: 1rem;
          }
        }
      }
    }

    &__container--small {
      height: 100%;
      padding: 0.35rem;
      margin: 0;
      width: 100%;
      box-shadow: none;

      .user-header {
        &__avatar {
          height: 50px;
          width: 50px;
          flex-shrink: 0;
        }
        &__title {
          width: 100%;
          .title__name {
            font-size: 0.8rem;
            white-space: normal;
            text-align: center;
          }
          .title__rating {
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            ion-icon {
              font-size: 1.2rem;
            }
            div {
              height: 0.8rem;
            }
          }
        }
      }
    }
  }

  .contact-btn {
    height: 40px;
    width: 50%;
    margin: 0;
    font-size: 1rem;
  }
}
