<ion-header *ngIf="isModal">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterDriverModal()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{'current-driver.title'| translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ng-template #pageContent>
  <ng-container *ngIf="!isLoading && currentDrivers.length > 0;  else loadingTemplate">
    <ion-list class="d-block w-100 p-2 bg-transparent pb-5">
      <ion-item *ngIf="isMultiSelect"
                lines="none"
                color="light"
                no-padding>
        <ion-label>
          تحديد الكل
          ({{getSelectedCount()}})
        </ion-label>
        <ion-checkbox slot="end"
                      [indeterminate]="getSelectedCount() > 0 && getSelectedCount() < currentDrivers.length"
                      (ionChange)="selectAllCurrentDrivers($event.detail.checked)"></ion-checkbox>
      </ion-item>
      <app-driver-card *ngFor="let driver of currentDrivers"
                       [driver]="driver"
                       (selected)="selectDriver($event)">
        <ion-item *ngIf="isMultiSelect"
                  lines="none"
                  color="offWhite"
                  class="trip-item-checkbox"
                  color="white"
                  (click)="$event.stopPropagation()"
                  no-padding>
          <ion-checkbox slot="end"
                        [(ngModel)]="selectedDrivers[driver.uid]"></ion-checkbox>
        </ion-item>
      </app-driver-card>


    </ion-list>
  </ng-container>
  <ng-template #loadingTemplate>
    <div class="d-flex h-100 justify-content-center pt-4">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <div *ngIf="!isLoading && currentDrivers.length === 0">
        لا يوجد سائقيين حاليين.
      </div>
    </div>
  </ng-template>



</ng-template>
<ion-fab *ngIf="isMultiSelect"
         vertical="bottom"
         horizontal="end"
         slot="fixed"
         (click)="selectMultiDrivers()">
  <ion-fab-button>
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content *ngIf="isModal"
             color="light">
  <ng-template [ngTemplateOutlet]="pageContent"></ng-template>
</ion-content>

<ng-container *ngIf="!isModal">
  <ng-template [ngTemplateOutlet]="pageContent"></ng-template>
</ng-container>
