<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="d-flex h-100 align-items-center">
        <ion-icon class="mx-1"
                  color="white"
                  name="card"></ion-icon> {{ 'payment.paymentAndPromo' | translate }}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-list-header>
      <ion-label class="text-muted font-weight-bold">
        <ion-icon class="mx-1"
                  name="card"></ion-icon> {{ 'payment.cards' | translate }}
      </ion-label>
    </ion-list-header>
  </ion-list>
  <ion-button fill="clear"
              expand="full"
              (tap)="openAddCardModal()">
    <div class="w-100 d-flex justify-content-start">
      <ion-icon class="mx-1"
                slot="start"
                name="add"></ion-icon>
      {{ 'payment.addCard' | translate }}
    </div>
  </ion-button>


  <ion-list class="border-top">
    <ion-list-header>
      <ion-label class="text-muted font-weight-bold">
        <ion-icon class="mx-1"
                  name="gift"></ion-icon>{{ 'payment.promotions' | translate }}
      </ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <div class="w-100 d-flex justify-content-between">
        <span class="d-inline-flex">{{ 'payment.active' | translate }} </span>
        <span class="d-inline-flex">{{!!activePromo? activePromo.code: '-'}}</span>
      </div>
    </ion-item>

    <ion-item *ngIf="!!!newPromo">
      <ion-label position="floating">
        New Promo:
      </ion-label>
      <ion-input type="text"
                 placeholder="{{ 'payment.newPromoCode' | translate }}"
                 [(ngModel)]="manualPromoCode"></ion-input>
    </ion-item>

    <ng-container *ngIf="!isPromoLoading && newPromo">
      <div class="text-muted px-3">
        <h4>New Promo:</h4>
        <p>
          {{newPromo.code}}
        </p>

        <p>{{newPromo.message}}</p>
        <p class="font-weight-bold">
          For:
          <span *ngIf="!!newPromo.money && newPromo.money !== 0">
            {{newPromo.money}}{{'currencies.egp' | translate}}
          </span>
          <span *ngIf="!!newPromo.money && !!newPromo.percentage"
                class="font-weight-bold">Or:</span>
          <span *ngIf="!!newPromo.percentage && newPromo.percentage !== 0">
            {{newPromo.percentage}}%
          </span>
        </p>

      </div>
    </ng-container>
    <div class="d-flex justify-content-center align-items-center">
      <ion-spinner *ngIf="isPromoLoading"
                   class="mt-2"></ion-spinner>
    </div>
  </ion-list>

  <ion-button fill="clear"
              expand="full"
              [disabled]="isPromoLoading || isActivationLoading"
              (click)="activatePromo()">
    <div class="w-100 h-100 d-flex justify-content-start align-items-center">
      <ion-icon class="mx-1"
                slot="start"
                name="add"></ion-icon>
      {{ 'payment.activatePromoCode' | translate }}
      <ion-spinner *ngIf="isActivationLoading"
                   class="mx-1"></ion-spinner>
    </div>
  </ion-button>
</ion-content>
