<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>البحث عن رحلة</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form [formGroup]="filterTripForm"
        (ngSubmit)="submitFilterTrip()">


    <ion-item lines="none"
              (click)="openCurrentDriversModal()"
              routerDirection="forward">
      <ion-label class="d-inline-flex align-items-center justify-content-between">
        <div class="d-inline-flex flex-column">
          <div>
            <ion-icon name="person"
                      class="text-muted font-weight-bold mx-1"></ion-icon>
            <span class="text-muted font-weight-bold mx-1">السائقين:</span>
          </div>
          <ng-container *ngIf="!!selectedDriver">
            <app-profile-header [user]="selectedDriver"
                                size="small"></app-profile-header>
          </ng-container>
        </div>

        <ng-container *ngIf="!!!selectedDriver">
          أضغط لتحدد السائق.
        </ng-container>

        <ion-icon slot="icon-only"
                  color="medium"
                  name="create"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item lines="none"
              (click)="openCurrentClientsModal()"
              routerDirection="forward">
      <ion-label class="d-inline-flex align-items-center justify-content-between">
        <div class="d-inline-flex flex-column">
          <div>
            <ion-icon name="person"
                      class="text-muted font-weight-bold mx-1"></ion-icon>
            <span class="text-muted font-weight-bold mx-1">العملاء:</span>
          </div>
          <ng-container *ngIf="!!selectedClient">
            <app-profile-header [user]="selectedClient"
                                size="small"></app-profile-header>
          </ng-container>
        </div>

        <ng-container *ngIf="!!!selectedClient">
          أضغط لتحدد العميل.
        </ng-container>

        <ion-icon slot="icon-only"
                  color="medium"
                  name="create"></ion-icon>
      </ion-label>
    </ion-item>

    <div class="row">
      <ion-item class="col-6">
        <ion-label position="floating">
          من سعر
        </ion-label>
        <ion-input type="number"
                   formControlName="fromPrice"></ion-input>
      </ion-item>
      <ion-item class="col-6">
        <ion-label position="floating">
          إلي سعر
        </ion-label>
        <ion-input type="number"
                   formControlName="toPrice"></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item class="col-6">
        <ion-label position="floating">
          من تاريخ
        </ion-label>
        <ion-datetime formControlName="fromDate"
                      [displayFormat]="dateFormat"
                      placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item class="col-6">
        <ion-label position="floating">
          الي تاريخ
        </ion-label>
        <ion-datetime formControlName="toDate"
                      [displayFormat]="dateFormat"
                      placeholder="Select Date"></ion-datetime>
      </ion-item>
    </div>

    <!-- <div class="row">
      <ion-item class="col-6">
        <ion-label position="floating">
          من وقت
        </ion-label>
        <ion-datetime formControlName="fromTime"
                      [displayFormat]="timeDisplayFormat"
                      placeholder="Select Time"></ion-datetime>
      </ion-item>
      <ion-item class="col-6">
        <ion-label position="floating">
          إلي وقت
        </ion-label>
        <ion-datetime formControlName="toTime"
                      [displayFormat]="timeDisplayFormat"
                      placeholder="Select Time"></ion-datetime>
      </ion-item>
    </div> -->

    <div class="row">
      <ion-item class="col-6">
        <ion-label position="floating">
          من محافظة
        </ion-label>
        <ion-select placeholder="Choose"
                    interface="action-sheet"
                    formControlName="fromState">
          <ion-select-option *ngFor="let state of states"
                             [value]="state.toLowerCase()">
            {{ "governorates."+state.toLowerCase() | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="col-6">
        <ion-label position="floating">
          إلي محافظة
        </ion-label>
        <ion-select placeholder="Choose"
                    interface="action-sheet"
                    formControlName="toState">
          <ion-select-option *ngFor="let state of states"
                             [value]="state.toLowerCase()">
            {{ "governorates."+state.toLowerCase() | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-button type="submit"
                expand="full"
                class="my-4 mx-2"
                [disabled]="isLoading">
      ابحث
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
