:host {
  .user-header__container {
    align-items: center;
    box-shadow: none;

    .title__rating {
      text-align: center;
    }
  }

  .contact-btn {
    height: 60px;
    width: 50%;
    margin: 0;
    font-size: 1.7rem;
  }
}
