<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon [hidden]="true"
                  slot="icon-only"
                  name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="user-header__container">
        <div class="user-header__avatar">
          <img class="avatar"
               src="/assets/profile-picture-sample.jpg" />
        </div>

        <div class="user-header__title">
          <div class="title__name">
            أحمد هشام
          </div>
          <div class="title__rating">
            <ion-icon class="mx-1"
                      name="star"></ion-icon>4.8
          </div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-item>
    <ion-icon name="car"></ion-icon>
    <ion-label class="px-1"
               text-muted>
      Mazda 3
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-muted>
      <i class="im icon-hash"></i>
      123-أ ب ت
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-muted>
      <i class="im icon-circle"
         [style.color]="'orange'"></i>
      Orange
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <a href="tel:01234567890">
      <ion-button color="primary"
                  fill="clear"
                  class="contact-btn">
        <ion-icon name="call"></ion-icon>
      </ion-button>
    </a>
    <a href="sms:01234567890">
      <ion-button color="primary"
                  fill="clear"
                  class="contact-btn">
        <ion-icon name="text"></ion-icon>
      </ion-button>
    </a>
  </ion-toolbar>
</ion-footer>
