<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="d-flex h-100 align-items-center">
        <ion-icon class="mx-1"
                  color="white"
                  name="settings"></ion-icon> {{'setting.setting' | translate }}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label class="text-muted font-weight-bold">
        <i class="im icon-language"></i>
        {{'setting.lang' | translate }}
      </ion-label>
    </ion-list-header>

    <ion-radio-group [ngModel]="selectedLocalization.lang"
                     (ionChange)="changeLanguage($event.detail.value)">
      <ion-item [disabled]="true">
        <ion-label>{{'setting.english' | translate }}</ion-label>
        <ion-radio value="en"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'setting.arabic' | translate }}</ion-label>
        <ion-radio value="ar"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button color="danger"
              fill="clear"
              expand="full"
              class="my-4 mx-2"
              (tap)="authService.logout()">
    <div class="w-100 d-flex justify-content-start">
      <ion-icon slot="start"
                name="exit"></ion-icon>
      {{'setting.logOut' | translate }}
    </div>
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> {{'setting.version' | translate }}: {{appVersionNumber}}</ion-title>
  </ion-toolbar>
</ion-footer>
