:host {
  .icon-language {
    font-size: 1.5rem;
  }
}
// .language {
//   padding-top: 1.3rem;
//   padding-bottom: 1.3rem;
// }
// .radio {
//   margin: 1rem;
// }
// .radio1 {
//   margin: 1rem;
// }
// .radio2 {
//   margin: 1rem;
// }
// .logout {
//   padding-top: 1.3rem;
//   padding-bottom: 1.3rem;
// }
// .log-btn {
//   --background: #ffffff;
//   color: black;
// }
