<ion-item lines="none"
          class="trip-item text-capitalize"
          (click)="selectCar()"
          no-padding
          button>
  <ion-label class="ws-normal py-2 m-0">
    <div class="row m-0">
      <div class="col-6 px-2">
        <span class="font-weight-bold">{{'car-management.brand'| translate}}:</span>
        {{car.brand}}
      </div>
      <div class="col-6 px-2">
        <span class="font-weight-bold">{{'car-management.model'| translate}}:</span>
        {{car.model}}
      </div>
    </div>
    <div class="row m-0">
      <div class="col-6 px-2">
        <span class="font-weight-bold">{{'car-management.plateNumber'| translate}}:</span>
        {{car.plateNumber}}
      </div>
      <div class="col-6 px-2">
        <span class="font-weight-bold">{{'car-management.garage'| translate}}:</span>
        {{car.garage?.name}}
      </div>
    </div>

    <div class="row m-0">
      <div class="col-4 px-2">
        <span class="font-weight-bold">{{'car-management.color'| translate}}:</span>
        {{car.color}}
      </div>
      <div class="col-4 px-2">
        <span class="font-weight-bold">{{'car-management.status'| translate}}:</span>
        {{car.status}}
      </div>
      <div class="col-4 px-2">
        <span class="font-weight-bold">{{'car-management.type'| translate}}:</span>
        {{car.type}}
      </div>
    </div>
  </ion-label>
</ion-item>
