<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> البحث عن جراج</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="filterGarageForm"
        (ngSubmit)="filterGarage()">


    <ion-item>
      <ion-label position="floating">
        جراج *
      </ion-label>
      <ion-input type="text"
                 formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        العنوان *
      </ion-label>
      <ion-input type="text"
                 formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        الهاتف *
      </ion-label>
      <ion-input type="tel"
                 formControlName="phone"></ion-input>
    </ion-item>

    <ion-button type="submit"
                expand="full"
                class="my-4 mx-2"
                [disabled]="isLoading">
      بحث
      <ion-spinner *ngIf="isLoading"
                   class="mx-2"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
