<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (tap)="openEditProfileModal()">
        <ion-icon slot="icon-only"
                  name="create"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>
      <app-profile-header [user]="user"></app-profile-header>
      <ng-container *ngIf="isEditing">{{'profile.update-info' | translate}}</ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-item>
    <ion-icon name="call"
              class="mx-2"></ion-icon>
    <ion-label text-muted>
      {{user.phone}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="pin"
              class="mx-2"></ion-icon>
    <ion-label text-muted>
      <p> {{ "governorates." + user.state.toLowerCase() | translate}}, {{user.address}} </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="mail"
              class="mx-2"></ion-icon>
    <ion-label text-muted>
      {{user.email}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="cash"
              class="mx-2"></ion-icon>
    <ion-label text-muted>
      <div class="text-muted">الرصيد:</div>
      <div>
        <ion-badge color="success"
                   slot="end">{{ user.balance || 0 | currency: ' ' }} جم</ion-badge>
      </div>
    </ion-label>
  </ion-item>
</ion-content>
