:host {
  .driver-details-title {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-bottom: solid 1px var(--ion-color-secondary);
  }

  app-profile-header {
    ::ng-deep {
      .user-header {
        &__container {
          height: calc(150px + 2rem);
        }
      }
      .title__rating {
        justify-content: center;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
