<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ 'home.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="{{currentSlideIndex == 0 && !!!activeTrip? 'transparent' : 'white'}}"
             no-padding>
  <ion-segment class="p-1 pt-0 w-100"
               [(ngModel)]="currentSlideIndex"
               (ionChange)="overviewSlides.slideTo(currentSlideIndex)">
    <ion-segment-button class="bg-white"
                        [value]="0">
      <ion-label class="text-capitalize">{{ 'home.active' | translate }} </ion-label>
    </ion-segment-button>
    <ion-segment-button class="bg-white"
                        [value]="1">
      <ion-label class="text-capitalize">{{ 'home.next' | translate }} </ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-slides [pager]="false"
              [options]="{initialSlide: currentSlideIndex}"
              (ionSlideDidChange)="slideChanged()"
              #overviewSlides>
    <ion-slide>
      <div class="d-block text-center w-100 pb-5">
        <ng-container *ngIf="!isActiveLoading; else activeLoadingTemplate">
          <ion-list *ngIf="!!activeTrip">

            <ion-item lines="full"
                      no-padding>
              <ion-label>
                <app-profile-header [user]="activeTrip.driver"
                                    [isConnectable]="true">
                </app-profile-header>
              </ion-label>
            </ion-item>

            <ion-item *ngIf="!!activeTrip.car">
              <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
                <ion-icon name="car"
                          class="mx-1"></ion-icon>
                {{ 'home.car' | translate }}
              </ion-label>
              {{activeTrip.car.brand}} / {{activeTrip.car.plateNumber}} /
              {{activeTrip.car.color}}
              <i class="im icon-circle mx-1"
                 [style.color]="activeTrip.car.color"></i>
            </ion-item>

            <ion-item lines="none">
              <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
                <ion-icon name="calendar"
                          class="mx-1"></ion-icon>
                {{ 'home.date' | translate }}:
              </ion-label>
              {{activeTrip.pickupDateTime | date:'d-MMM-yyyy'}}
            </ion-item>
            <ion-item lines="full">
              <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
                <ion-icon name="time"
                          class="mx-1"></ion-icon>
                {{ 'home.time' | translate }}:
              </ion-label>
              {{activeTrip.pickupDateTime | date:'hh:mmaa'}}
            </ion-item>


            <!-- <ion-item *ngIf="activeTrip.driver"
                      lines="full"
                      [routerLink]="'/driver-profile/'+activeTrip.driver.uid"
                      routerDirection="forward"
                      button>
              <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
                <ion-icon name="person"
                          class="mx-1"></ion-icon>
                {{ 'home.driver' | translate }}
              </ion-label>
              {{activeTrip.driver.fullName}}
            </ion-item> -->

            <ion-item lines="none">
              <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
                <ion-icon name="cash"
                          class="mx-1"></ion-icon>
                {{ 'home.payment' | translate }}
              </ion-label>
              {{ 'home.cash' | translate }}
            </ion-item>
            <ion-item lines="full">
              <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
                <ion-icon name="logo-usd"
                          class="mx-1"></ion-icon>
                {{ 'home.cost' | translate }}:
              </ion-label>
              <ion-badge color="success"
                         slot="end">
                {{(activeTrip?.pricing?.base || 0) | currency:' '}} {{'currencies.egp' | translate}}
              </ion-badge>
            </ion-item>

            <ion-list-header>
              <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
                <ion-icon name="pin"
                          class="mx-1"></ion-icon>
                {{ 'home.pickup' | translate }}
              </ion-label>
            </ion-list-header>
            <ion-item lines="none"
                      button>
              <div class="text-capitalize">{{activeTrip.pickupPlace.state}}</div>
            </ion-item>

            <ion-list-header>
              <ion-label class="text-muted font-weight-bold d-inline-flex align-items-center">
                <ion-icon name="pin"
                          class="mx-1"></ion-icon>
                {{ 'home.dropIn' | translate }}
              </ion-label>
            </ion-list-header>
            <ion-item lines="none"
                      button>
              <div class="text-capitalize">{{activeTrip.dropPlace.state}}</div>
            </ion-item>
          </ion-list>

          <div *ngIf="!!!activeTrip"
               class="m-3 text-center p-2 bg-tinted d-inline-block">
            {{ 'home.noActiveTrip' | translate }}
          </div>

        </ng-container>

        <ng-template #activeLoadingTemplate>
          <div class="d-flex h-100 justify-content-center align-items-center mt-4">
            <ion-spinner></ion-spinner>
          </div>
        </ng-template>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="d-block w-100">
        <ng-container *ngIf="!isNextLoading;  else nextLoadingTemplate">
          <app-trip *ngFor="let trip of newTrips"
                    [trip]="trip"
                    [routerLink]="'/trip/'+trip.id"
                    routerDirection="forward"
                    button></app-trip>
          <app-trip *ngFor="let trip of nextTrips"
                    [trip]="trip"
                    [routerLink]="'/trip/'+trip.id"
                    routerDirection="forward"
                    button></app-trip>
          <div *ngIf="nextTrips.length === 0 && newTrips.length === 0 "
               class="m-3 text-center text-muted"> {{ 'home.noNextTrips' | translate }} </div>

        </ng-container>

        <ng-template #nextLoadingTemplate>
          <div class="d-flex h-100 justify-content-center align-items-center mt-4">
            <ion-spinner></ion-spinner>
          </div>
        </ng-template>
      </div>
    </ion-slide>
  </ion-slides>

  <ng-container *ngIf="currentSlideIndex == 0">
    <ion-fab *ngIf="!!!activeTrip"
             vertical="center"
             horizontal="center"
             slot="fixed">
      <ion-fab-button class="go-btn"
                      routerLink="/home/booking"
                      routerDirection="forward">
        {{ 'home.go' | translate }}
      </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="!!activeTrip"
             vertical="bottom"
             horizontal="end"
             slot="fixed">
      <ion-fab-button routerLink="/home/booking"
                      routerDirection="forward">
        {{ 'home.go' | translate }}
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>
